[2015-10-13 03:43] eddumelendez opened #2 "Add support typeAliasesPackage & typeHandlersPackage"

[2015-10-13 05:07] #2 closed

[2015-11-09 13:09] kazuki43zoo commented on #2
Hi @eddumelendez ,

I have a one question.
Have you plan to support VFS implementation for spring-boot ?
For details, refer to https://github.com/mybatis/mybatis-3/issues/325#issuecomment-132327054 .

[2015-11-11 03:52] eddumelendez commented on #2
Thanks @kazuki43zoo to let me know about this. I will take a look and try to include in the first release.

[2015-11-12 11:02] aaaweisen opened #5 "runing package"
[code]
题外：
依赖导入后，demo 打我包无法通过 java -jar *.jar 执行了，这个怎么处理~

[2015-11-25 03:36] ZhangMingNan opened #6 "dependency not found"

[2015-11-29 03:39] hazendaz commented on #6
@ZhangMingNan what dependency is not found?

[2015-11-29 03:41] hazendaz commented on #5
@aaaweisen Can you provide a little more information as to what issue you are experiencing?

[2015-12-01 01:21] patrek opened #7 "Registering Plugin"
Is there an easy way to register a Plugin (org.apache.ibatis.plugin.Interceptor) to the sqlSessionFactory with only java configuration?

[2015-12-01 02:38] liukaitj commented on #7
This is an example which I use to register a pagination plugin ([PageHelper](https://github.com/pagehelper/Mybatis-PageHelper)) in pure Java config style. Though looks a bit bored, it's not so unacceptable in terms of the fact that you need to write it only once.
[code]

[2015-12-01 02:48] patrek commented on #7
Thanks.

Would have been nice if it was possible to do it by setting something in application.properties instead of overriding the bean creation.

[2015-12-01 05:10] mallim opened #8 "How to set VendorDatabaseIdProvider?"
Hi there

I will like to just set VendorDatabaseIdProvider to SqlSessionFactory, how should I go about doing it?

Currently, I work around by by setting it in mybatis-config.xml

[code]

Thanks

[2015-12-01 05:53] mallim commented on #8
With further testing, setting databseIdProvider in mybatis-config.xml is not working.

There is a need to allow VendorDatabaseIdProvider to be set.

[2015-12-01 05:56] eddumelendez commented on #8
Take into account that the configuration just work with xml mappers or mapper annotations.

`databseIdProvider` is not available to auto-configure but the approach would be to provide the field `DatabaseIdProvider` to be autowired by any custom class and set the database vendors.

[2015-12-01 05:56] mallim opened #9 "java.lang.UnsupportedOperationException: Manual close is not allowed over a Spring managed SqlSession"
The following warning message is observe upon shutting down:

[code]

[2015-12-01 05:59] eddumelendez commented on #7
I am thinking to register all plugins automatically. Let try this approach. PR is welcome :)

[2015-12-01 12:55] mallim commented on #8
In view of this issue and issue #7, is it possible to have something like WebMvcConfigurerAdapter where we can extend the adapter and add in additional configurations to SqlSessionFactory?

[2015-12-01 12:59] patrek commented on #7
I'll see what I can do this weekend :-)

[2015-12-04 13:26] s17t commented on #6
On Maven central there is the no-SNAPSHOT version only. The correct POM's snippet is:
[code]

[2015-12-07 08:12] eddumelendez commented on #6
@s17t snapshots are in another repository in maven central. We will update the documentation in order to avoid confusion. Thanks.

[2015-12-07 08:14] #6 closed

[2015-12-10 03:04] CharlesMaster opened #10 "How to config mybatis datasource?not a simple jdbc"
in a spring project,I usually config like this:
[code]

[2015-12-10 06:23] liukaitj commented on #10
Here's an example I used to config mybatis in spring boot, combined with a plugin ([PageHelper](https://github.com/pagehelper/Mybatis-PageHelper)) that functions as pagination.

[code]

Of course, you need to place annotation-based configurations on your @Configuration class:

[code]

[2015-12-10 06:39] CharlesMaster commented on #10
thanks,I'll try.

[2015-12-10 21:39] patrek commented on #7
Didn't get around to work in it yet.

While I'm at it, any idea of the best way to implement the configuration of settings the same way?

I've seen liukaitj's example about doing it. Is this the best approach?
[code]
instead of using mybatis-config.xml
[code]

[2015-12-11 07:16] mallim commented on #7
Actually if this works, why need to bring it inside?

[code]

The issue with #8 is it does not work by putting it in mybatis-config.xml

To quote the PageHelper example in here, I am doing this in mybatis-config.xml and it is working well:

[code]

[2015-12-11 16:03] s17t commented on #9
Confirm this.

[2015-12-12 03:16] mallim commented on #9
@s17t  do you mean you also have the same problem? Or will let me to provide more details to confirm this ...

[2015-12-12 04:35] mallim commented on #9
After further digging, I just realised that there is an open issue in mybatis/spring#77. Is it possible to have a flag, to indicate whether we want to create SqlSessionTemplate or not? E.g.

[code]

[2015-12-12 06:17] mallim commented on #8
Is the following code acceptable? If it is alright, I can submit a PR for further review.

[code]

[2015-12-12 06:20] eddumelendez commented on #8
@mallim submit the PR for review. I will use @Autowired(required=false) rather than `BeanFactoryUtils.beanOfTypeIncludingAncestors(this.context, VendorDatabaseIdProvider.class);` and handle the exception.

[2015-12-12 08:38] s17t commented on #9
I have this little issue too.

[2015-12-14 02:16] mallim commented on #10
@CharlesMaster  you still have any problem? Or we can proceed to close this issue?

[2015-12-18 17:24] mmaquevice commented on #9
+1

[2015-12-21 18:40] patrek commented on #7
As soon as you define mybatis-config.xml in the application.properties file, all other mybatis settings from that file are ignored.

[2015-12-21 21:20] raphsoft commented on #10
If you externalize your properties, either to retrieve database properties with @Value annotation or by autowiring the datasource you setup in application.properties, you will realize that it doens't work. Because of the cause described here: https://jira.spring.io/browse/SPR-8269

[2015-12-22 01:26] mallim commented on #5
@eddumelendez if there is no feedback, how max no of days will you wait before proceed to close this issue?

[2015-12-23 13:56] boyazuo opened #12 "mybatis.config property conflicts with other properties in application.properties"
When configed mybatis.config property, the other properties are ignored.

[2015-12-25 08:44] eddumelendez commented on #12
Hi @boyazuo currently we can use xml or java config approach but not both of them at the same time in order to avoid mess.

[2015-12-25 09:24] boyazuo commented on #12
I know that,but the configuration is not flexible.
When I want to register plugin, I must use xml. and the other properties is not concise in xml.
I modify the code like this,and it work well,both xml and java config:
[code]

[2015-12-25 09:28] eddumelendez commented on #12
In that case this is related to #7 I will work on this in order to provide more flexibility in java config.

[2015-12-25 09:33] boyazuo commented on #12
Yes, it is great! I am looking forward to it.
And how is it going?

[2015-12-25 09:50] #5 closed

[2015-12-28 17:32] #7 closed

[2015-12-28 17:33] eddumelendez commented on #12
@boyazuo support to register plugins has been added. I will close this issue.

[2015-12-28 17:33] #12 closed

[2015-12-29 02:44] boyazuo opened #13 "register plugins can't set properties of the plugins"
[code]
The plugins added.but can't set properties of the plugins.
so, exception will appear in the plugin,when application is running.

[2015-12-29 09:14] liukaitj commented on #13
I think properties should be set in the plugin by itself via setProperties method which must be implemented according to the org.apache.ibatis.plugin.Interceptor contract.

ex:
[code]

[2016-01-06 16:00] sunhao-java opened #14 "The file named spring.provider in mybatis-spring-boot-starter/src/main/resources/META-INF/"
What's this file means?The content is:
<code>
provides: mybatis-spring-boot-autoconfigure
</code>
Can u tell me?tks!

[2016-01-11 18:12] lpearson05 commented on #9
I noticed this issue after bumping the spring version from `4.2.3` to `4.2.4`. I've bumped it back down for the time being.

[2016-01-14 17:56] eddumelendez commented on #13
Since register plugins was added. I think that the best way to inject properties is in the plugin by itself as @liukaitj said.

[2016-01-14 17:56] #13 closed

[2016-01-14 17:57] eddumelendez commented on #10
@CharlesMaster any news about this?

[2016-01-14 18:17] eddumelendez commented on #14
This file is used to provide the **mybatis-spring-boot-autoconfigure** dependency without needing to add manually this dependency in the build file.

[2016-01-14 18:17] #14 closed

[2016-01-15 18:01] raphsoft commented on #10
Add this to your dependencies:

[code]

Then, put this in your application.yml:

[code]

Then you can autowire the datasource inside any spring-managed bean, for instance in a configuration:

[code]

Then you just need to keep writing your Mapper XMLs and Interfaces in the same way you've been doing it.

[2016-01-19 03:53] sunhao-java commented on #14
thank u very much!

[2016-01-21 07:48] xiaoxing598 opened #15 "Could not open ServletContext resource [/mybatis-config.xml]"
I will ```mybatis-config.xml``` profiling in ```src/main/resources/*```, When start being given ```Could not open ServletContext resource [/mybatis-config.xml]```
As can be seen from the annex screenshot Description
![qq 20160121135026](https://cloud.githubusercontent.com/assets/5615719/12474439/36ff8460-c056-11e5-91d2-f8b8adf750fe.png)

[2016-01-21 12:02] chw741852 opened #16 "How do i use the wildcard characters in mapperLocations"
In application.properties:
i want to use it like 'mybatis.mapper-locations[0]=classpath*:com/hong/**/mapper/*Mapper.xml' because i have many mapper.xml files, But spring throw an error, it didn't find the file '*Mapper.xml'.
i must use it like 'mybatis.mapper-locations[0]=com/hong/demo/UserMapper.xml'.

[2016-01-22 01:01] xiaoxing598 commented on #16
这块的文档确实很少

[2016-01-22 10:49] ggj2010 opened #17 "I can not use both mybatis.config= and mybatis.mapperLocations="
if i use this config,
![qq 20160122184218](https://cloud.githubusercontent.com/assets/5978266/12508625/107b0566-c138-11e5-88e6-af0e50a539e4.png)

mybatis.mapperLocations and other config will not useful

because of  mybatis.config has value

![qq 20160122184257](https://cloud.githubusercontent.com/assets/5978266/12508626/107b4922-c138-11e5-9300-b67330d462a0.jpg)

[2016-01-24 05:36] chw741852 commented on #16
Then I rewrite the SqlSessionFactory bean.
modify:
factory.setMapperLocations(new PathMatchingResourcePatternResolver()
                .getResources("classpath*:com/hong/**/mapper/*Mapper.xml"));

[2016-01-26 06:53] zhuxinjun commented on #15
same problem...

[2016-01-26 07:00] xiaoxing598 commented on #15
我在想为什么作者还不回应一下呀？？？
（I wonder why the author does not respond to ah ???）

[2016-01-27 01:13] zhuxinjun commented on #15
加 classpath; 在路径前边就可以了 @xiaoxing598

[2016-01-27 04:56] xiemeilong commented on #17
+1
I have the same issue.

[2016-01-27 06:15] xiaoxing598 commented on #15
@zhuxinjun
我又遇到一个严重的问题
mybatis.config=classpath:mybatis-config.xml

[code]

[code]

[2016-01-29 03:37] eddumelendez commented on #17
As you can see, currently you can configure the project using xml or java config only. I would like to hear more about mixed support.

[2016-01-29 06:09] #16 closed

[2016-01-29 06:10] #10 closed

[2016-01-29 06:14] eddumelendez commented on #15
@xiaoxing598 I would like to check the project. Can you share a sample project to reproduce the problem? Thanks

[2016-01-29 06:57] #8 closed

[2016-01-29 07:21] xiaoxing598 commented on #15
@eddumelendez I have put on the wrong platform project, please help view!
https://github.com/xiaoxing598/mybatis-spring-boot-example

[2016-02-01 08:46] jkdntc opened #18 "upload to maven please"
When will you upload to maven?

[2016-02-01 10:09] eddumelendez commented on #18
Hi @jkdntc I am waiting the fix for #9 from mybatis-spring project and I will be working in the next days to fix #15. After that, we are ready to release the next version.

[2016-02-01 15:58] eddumelendez commented on #15
In a web application we must use **classpath:** prefix

[code]

[2016-02-02 04:04] #17 closed

[2016-02-06 06:16] tspoison commented on #15
@xiaoxing598 你好，我看你上传的那个sample项目里在application.properties里和mybatis-config.xml里都配置了数据库连接的相关信息，两个地方配置有什么区别呢？不是很明白，请稍作解释，谢谢。
我在测试的过程中仅在application.properties里配置的话经测试可用。

[2016-02-06 06:39] #15 closed

[2016-02-06 06:40] #18 closed

[2016-02-06 06:53] xiaoxing598 commented on #15
@tspoison 你看我这个例子[https://github.com/xiaoxing598/mybatis-spring-boot-example](https://github.com/xiaoxing598/mybatis-spring-boot-example)

[2016-02-06 06:58] tspoison commented on #15
@xiaoxing598 你刚上传的例子里怎么两个配置文件里的数据库连接信息都被注释了？

[2016-02-13 21:03] eddumelendez opened #19 "Upgrade mybatis 3.3.1"

[2016-02-13 21:04] eddumelendez opened #20 "Upgrade mybatis-spring 1.2.4"

[2016-02-13 21:12] #19 closed

[2016-02-13 21:12] #20 closed

[2016-02-13 21:13] eddumelendez commented on #9
Fixed 990b3e3b123af87303fe6a588a0ddd6a36178bc2

[2016-02-13 21:13] #9 closed

[2016-02-21 11:07] eddumelendez opened #21 "Add custom VFS implementation"
https://gist.github.com/hanswesterbeek/94c359b22c6fed6dff1c

[2016-02-21 11:08] #21 closed

[2016-02-22 21:17] bostone opened #22 "Running from command line throws "Cannot load driver class: com.mysql.jdbc.Driver""
I'm writing Spring boot SOAP web service based on https://spring.io/guides/gs/producing-web-service/ tutorial. I'm trying to incorporate mybatis-spring-boot. My configuration is Gradle-based.
The code compiles but when I try to run it from command line (using embedded Tomcat) it fails because mysql driver class is not found.

Here's my Gradle configuration and application.properties. I would reall

[2016-02-23 05:14] StateGrace opened #23 "XML and application properties cannot be Shared"
Suggest to modify

[code]

[2016-02-23 22:30] bostone commented on #22
I found the solution though I'm not entirely clear why it works: simply remove or comment out "spring.datasource.driver-class-name = com.mysql.jdbc.Driver" line and it will work

[2016-02-23 22:30] #22 closed

[2016-02-23 22:31] bostone commented on #23
Suggest using "code" tag when including source code

[2016-02-26 09:36] zhuxinjun opened #24 "Manual close is not allowed over a Spring managed SqlSession"
![qq 20160226173736](https://cloud.githubusercontent.com/assets/7918671/13348661/b11c460a-dcaf-11e5-9b8a-214ddca4399c.png)

[2016-02-26 13:48] s17t commented on #24
Hi,
 this has been reported and closed in #9.

[2016-02-26 17:22] eddumelendez commented on #24
@zhuxinjun if you test the snapshot you should not get this error.

[2016-02-26 17:22] #24 closed

[2016-02-26 17:45] #23 closed

[2016-03-11 14:27] StateGrace opened #29 "Cannot coexist"
@Bean
    @ConditionalOnMissingBean
    public SqlSessionFactory sqlSessionFactory(DataSource dataSource) throws Exception {
        SqlSessionFactoryBean factory = new SqlSessionFactoryBean();
        factory.setDataSource(dataSource);
        if (StringUtils.hasText(this.properties.getConfig())) {
            factory.setConfigLocation(
                    this.resourceLoader.getResource(this.pro

[2016-03-15 13:10] Jwrong opened #30 "How to dynamically choose a datasource"
In my project ,wo have two datasource ,mysql and oracle ,so How to dynamically choose a datasource

[2016-03-18 02:52] bwzhang2011 opened #32 "could provide any example for interceptors added"
@eddumelendez, would you mind providing us some interceptors configuration with mybatis spring boot as some example ?  from the simple example I could not find any info for such support, currently
the sqlsessionfactory or sqlsessionTemplate creation has been replaced by mybatisAutoConfiguration
and the interceptors required default to be false which won't check whether in container or not.

[2016-03-18 03:00] bwzhang2011 commented on #32
@emacarron, would you mind sparing some time and take a look at it ? maybe more examples needed.

[2016-03-18 03:42] bwzhang2011 commented on #32
@eddumelendez, how could I delay the mybatisAutoConfiguration creation to make it later complete the initialization while other bean like interceptors or DatabaseIdProvider could first create themselves.

[2016-03-18 05:02] eddumelendez commented on #32
@bwzhang2011 you can check [MybatisAutoConfigurationTest](https://github.com/mybatis/mybatis-spring-boot/blob/master/mybatis-spring-boot-autoconfigure/src/test/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfigurationTest.java) which provide cases you need.

[2016-03-18 05:13] bwzhang2011 commented on #32
@eddumelendez, thanks for quick response. yeah, I saw such test but I should find a proper way to load those beans which were initialized for mybatisAutoConfiguration. now I've the way that you should import such before the boot application started which means that you should first let those beans with interceptors or databaseIdProvider to be initialized first. just like this

1. the boot applicat

[2016-03-18 05:13] #32 closed

[2016-03-24 06:39] Jaware commented on #29
annotation and xml config file can not exist together,i met this problem too,can anyone fix it ?

[2016-03-24 12:38] sunlin901203 opened #35 "this config has No effect"
mybatis.mapperLocations[0]=classpath:/mybatis/**Mapper.xml

this config has No effect

when i use SqlSessionTemplate to select database,error occur,the information is java.lang.IllegalArgumentException: Mapped Statements collection does not contain value for com.xx.xx

[2016-03-24 18:07] bostone opened #36 "New release 1.0.1 is crashing"
Just by switching from 1.0.0 to 1.0.1 (no other code changes) when attempting to run I now get this error:

[code]

To reiterate - mybatis-config.xml is there in the jar and the app runs fine with 1.0.0

[2016-03-24 19:55] kazuki43zoo commented on #35
Please describe detail. What is problem ?

[2016-03-25 08:09] glenlivet opened #37 "How to declare interceptors for mybatis?"
Thanks for creating this project. Can you make an example to show how to declare interceptors?

[2016-03-26 16:13] kazuki43zoo commented on #35
Hi, @sunlin901203

Can you provide a repro project on GitHub ?

[2016-03-27 05:33] sunlin901203 commented on #35
this is my project .https://github.com/sunlin901203/example-spring-boot

[2016-03-27 05:53] kazuki43zoo commented on #35
@sunlin901203

In current implementation of mybatis-spring-boot, `mybatis.config` and `mybatis.xxxx` properties cannot use together.
See https://github.com/mybatis/mybatis-spring-boot/blob/master/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.java#L109-L123.

[2016-03-27 06:02] kazuki43zoo commented on #35
Hi @eddumelendez ,I think that it is better to solve this limitation(`mybatis.config` and `mybatis.xxxx` properties cannot use together.).
At least, i think should be describe this limitation on documentation(`README.md` and JavaDoc).

What do you think ?

[2016-03-27 06:33] kazuki43zoo commented on #35
@sunlin901203

Other limitation(known issue) for mybatis-spring-boot's auto-configuration is as follow:

* https://github.com/mybatis/spring/pull/119

Package scanning for type aliases and type handlers does not work when configure by mybatis-spring-boot's auto-configuration using `application.properties` or `application.yml`.
The workaround for this issue is to use `mybatis-config.xml`.

[2016-03-27 10:27] sunlin901203 commented on #35
ok,thank you very much.

[2016-03-28 07:31] eddumelendez commented on #37
You can check this test [MybatisAutoConfigurationTest](https://github.com/mybatis/mybatis-spring-boot/blob/master/mybatis-spring-boot-autoconfigure/src/test/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfigurationTest.java#L189-L219)

[2016-03-28 07:38] eddumelendez commented on #35
Currently, you can not use `xml` and `annotations` together. This is a limitation for now. About, the limitation @kazuki43zoo mentioned

It has been solved in 1.0.1 adding a [SpringBootVFS](https://github.com/mybatis/mybatis-spring-boot/blob/master/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/SpringBootVFS.java) by default in the `SqlSessionFactory`

[2016-03-28 11:31] kazuki43zoo commented on #35
Hi @eddumelendez

Probably, it work when use `mybatis-config.xml` as follow:

[code]

But, it does not work when use `application.properties` or `application.yml` as follow:

[code]

The `SqlSessionFactoryBean` cannot scan classes from specified package because custom VFS does not applied to MyBatis's configuration object until mybatis-spring 1.2.4.
This issues will resolve by mybatis/spring#119 (

[2016-03-28 11:48] eddumelendez commented on #35
@kazuki43zoo in `mybatis-spring` 1.2.4 we added the support for a custom VFS https://github.com/mybatis/spring/commit/c8ecb3ca6dd05bc22b828702abd377fb68ab964d and `mybatis-spring-boot` 1.0.1 also support this https://github.com/mybatis/spring/commit/5c643b0e4ba3abf0db055a3fac23973b662fcaa0

I tested this with an example and it works. I also saw your commit https://github.com/mybatis/spring/commit/

[2016-03-28 13:06] kazuki43zoo commented on #35
@eddumelendez

My changes of https://github.com/mybatis/spring/commit/8c92989a34f531243761ed783e39057c33a7dd50 is need.
This issue occurred  on running a (Fully) executable jar (`java -jar xxxx.jar`). (it does not occurred on running a IDE such as IntelliJ IDEA..)

**Note:**
My application is multi modules of maven.
For my application, refer to https://github.com/kazuki43zoo/spring-boot-multi-samp

[2016-03-28 13:12] eddumelendez commented on #35
@kazuki43zoo I understand the need. It was solved in gh-21 which is part of `mybatis-spring-boot` 1.0.1. You can try now using the released version and provide feedback. That's the reason why I don't see any change in that class just moving some lines.

If there are any issue please add a new one related to that topic. Thanks

[2016-03-28 14:06] kazuki43zoo commented on #35
@eddumelendez

I use mybatis-spring-boot 1.0.1 already. However package scanning does not work when use mybatis-spring 1.2.4.

OK. I will add new issue this topics.

[2016-03-28 14:07] #37 closed

[2016-03-28 16:57] kazuki43zoo opened #38 "Fully executable Jar does not scan typeAlias"
mybatis-spring-boot 1.0.1 does not scan typeAlias from specified package as follow:

[code]

Specify a type alias in Mapper XML

[code]
Settings for building a fully executable jar

[code]

Build a fully executable jar

[code]

Run a fully executable jar

[code]

Related issue : #35

[2016-03-28 17:06] kazuki43zoo commented on #38
I've added repro project for this.

https://github.com/kazuki43zoo/mybatis-spring-boot-gh-38

[2016-03-28 17:17] kazuki43zoo commented on #38
I've confirmed to fix this issue using mybatis-spring 1.2.5-SNAPSHOT.

How to install the mybatis-spring 1.2.5-SNAPSHOT into local repository.
[code]

And i changed a version of mybatis-spring.

[code]

Build a fully executable jar

[code]

Run a fully executable jar

[code]

Access to http://localhost:8080/

[code]

[2016-03-28 17:23] kazuki43zoo commented on #35
Hi @eddumelendez , i create the #38 .

[2016-03-28 17:26] kazuki43zoo commented on #38
This issue will fix via https://github.com/mybatis/spring/pull/121.

[2016-03-28 17:31] jcbvm opened #39 "auto-configuration and config location conflict."
Currently I've an issue with setting up my project.

When I set the `config` property in my `application.properties`, `MybatisAutoConfiguration` still scans the project for possible mappers, causing all my interfaces in that package becoming a mapper file.

When debugging, I see the config check being done after the auto configuration is scanning my package. This seems like a bug to me.

[2016-03-28 17:57] kazuki43zoo commented on #36
Can you provide a repro project in GitHub ?

[2016-03-28 19:44] emacarron commented on #38
Thank you @kazuki43zoo !!

@eddumelendez  @kazuki43zoo  Just let us know if we need a new release of the spring module to fix this.

[2016-03-29 01:09] kazuki43zoo commented on #38
@eddumelendez , @eddumelendez

I think that spring-mybatis 1.2.5 and mybatis-spring-boot 1.0.2 should release as soon as possible.

[2016-03-29 05:26] eddumelendez commented on #36
Hi @bostone you may need to use

[code]

[2016-03-29 10:06] eddumelendez commented on #38
Thanks @kazuki43zoo to report this issue

@emacarron I have tested version 1.2.5-SNAPSHOT and it is working fine. Do you think we can perform a release of mybatis-spring? Thanks in advance.

[2016-03-29 16:50] emacarron commented on #38
Of course we can. Let me know if spring-boot is ready for a release and will make both releases asap.

[2016-03-29 19:36] emacarron commented on #38
Ah, sorry, I see there are no changes in spring-boot so we only need a release of the spring module. Lets go then.

[2016-03-30 04:26] #38 closed

[2016-03-30 10:01] eddumelendez commented on #39
Hi @jcbvm are you talking about this?
<img width="505" alt="screen shot 2016-03-30 at 8 00 11 pm" src="https://cloud.githubusercontent.com/assets/1810547/14138725/1c3966cc-f6b2-11e5-855b-3172a92fa39e.png">

/cc @emacarron

[2016-03-30 14:12] #35 closed

[2016-03-30 15:14] jcbvm commented on #39
@eddumelendez I'm talking about the `AutoConfiguredMapperScannerRegistrar` class in the class `MybatisAutoConfiguration`. The method `registerBeanDefinitions` is automatically scanning the base package. Not sure if this is intended, it seems so, because the documentation of the `MapperScannerRegistrarNotFoundConfiguration` class says:

"If it is _not_ used, however, then this will bring in a bean

[2016-03-30 15:51] eddumelendez commented on #39
It is working as `spring-boot` itself, if you are working with `jpa` in `spring-boot` yo don't need to put `@Repository` in your repositories classes, `spring-boot` does for you. The same happen with `mybatis-spring-boot`. The difference is, this project provided support for xml and java config. And as you can see there are some combinations that doesn't work as expected. I do not know if we can c

[2016-03-30 15:56] jcbvm commented on #39
Thanks, for now I will move out any interface from the spring boot application package, so it will not get picked up as a mapper file.

[2016-03-30 16:27] emacarron commented on #38
Finally fixed by upgrading the MyBatis-Spring dependency  with commit 8fe17c4520769b9d74ac8bc47c1db14773da3436

[2016-03-30 19:45] emacarron commented on #39
Hi,

@jcbvm  If you add you mapper files using the mybatis-config.xml file, MyBatis will know about the mappers but spring don't. So you need that your mapper are scanned so they can be injected afterwards. When using Spring we expect that Mappers become spring beans and scanning is the heart of spring boot :)

I am not familiar with spring boot JPA. I will take a look to have a better opinion abo

[2016-03-31 02:48] hazendaz opened #43 "Release Issue - Place holder"
This is for me...running mvn site causes issues with javadoc generation.  This additionally causes maven release plugin to fail.  This does not appear to be any issue with spring-boot-starter but rather how dependencies might be dealt with.  This place holder is so I don't forget this is an issue and hopefully can resolve before next release so the process is smoother.  If anyone else has any idea

[2016-03-31 03:07] aaaweisen commented on #5
the QA is down！

[2016-03-31 05:35] kanouken opened #44 "Property 'mapperLocations' was not specified or no matching resources found"
HI
    i use the "mybatis.mapperLocations"  property , then i got that message

[2016-03-31 05:52] eddumelendez commented on #44
@kanouken can you try with `mybatis.mapper-locations`?

[2016-03-31 06:00] kanouken commented on #44
@eddumelendez   tried too ,  the same problem

[2016-03-31 06:06] eddumelendez commented on #44
Can you provided a sample project to reproduce, please? Thanks

[2016-03-31 08:36] kanouken commented on #44
@eddumelendez  if i specified the "mybatis.config" , the  "mapperLocations" would not be work!
 so
`#mybatis.config=classpath:mybatis-config.xml
mybatis.mapperLocations=classpath:com/ost/mendale/xml/*.xml`  do  his job!

[2016-03-31 09:01] eddumelendez commented on #44
@kanouken this is not already supported. At this time, you can use just `mybatis.config` or the other properties. In the next release 1.0.2 you will be able to do that.

[2016-03-31 09:02] kanouken commented on #44
@eddumelendez  thanks !

[2016-03-31 09:02] #44 closed

[2016-03-31 15:50] emacarron commented on #39
Hi again,

Does anybody know how can we read the MyBatisProperties bena in AutoConfiguredMapperScannerRegistrar???

[2016-03-31 17:39] kazuki43zoo commented on #39
@emacarron I don't know ...
Can use the `MapperScannerConfigurer` instead of ?

[2016-03-31 19:11] emacarron commented on #39
I don't think so. The registrar is the right bean to provide addional beans to a @Configuration object. But looks like whent it is executed the MyBatisProperties bean has not yet been created. I tried to get the object out of the factory bean but it is not yet there :(

[2016-03-31 20:05] emacarron commented on #39
Have a look at this, what do you think?

https://github.com/emacarron/spring-boot-starter/commit/e4a2c4b33222d5eb7ceb0027842dfd6944ac9953

[2016-03-31 20:45] emacarron commented on #30
Implement your own datasource implementation that switches from mysql and oracle. You may find replies to this question in the mail list and stackoverflow.

[2016-03-31 20:45] #30 closed

[2016-03-31 23:27] kazuki43zoo commented on #39
Can get property value via `Environment` instead of type-safe properties using `EnvironmentAware` ?

For example:

[code]

What do you think ?

[2016-03-31 23:46] kazuki43zoo commented on #39
Probably, above my idea is not good ... (sorry ...)

[2016-04-01 06:21] emacarron commented on #39
Any idea is welcome @kazuki43zoo!! But I am afraid I already checked that and does not work.

Anyway, what about scanning only interfaces inside **/mapper packages. What do you think (@eddumelendez @jcbvm @kazuki43zoo) ?

[2016-04-01 15:54] kazuki43zoo commented on #39
@emacarron , If possible i hope to support `**/repository` package. I use Mapper interface instead of Repository of DDD design(Spring's `@Repository`).
What do you think ?

[2016-04-01 16:47] emacarron commented on #39
Sounds good. I will probably make sense to search in these package names by default:
**/mapper -> an opinionated mybatis tools should accept the "mybatis"  main element
**/repository -> in case you prefer the spring jargon, though this may collide if you are also using JPA
**/persistence?? -> in case you copy & pasted from jpetstore-6? Should I better change the jpetstore-6?

Note that you yoursel

[2016-04-01 17:24] kazuki43zoo commented on #39
I prefer the `repository` package :smile:
I think this solution will should provide since a next minor release (e.g. 1.1.0).

[2016-04-01 17:26] jcbvm commented on #39
From my opinion, no package should be scanned by default. The base package should be defined in the config of spring boot. Which is in line with the legacy xml config property `<mybatis:scan base-package="org.mybatis.spring.sample.mapper" />`

[2016-04-01 17:32] emacarron commented on #39
@jcbvm That makes sense when using raw spring but boot is supposed to use convention over configuration. In my opinion, an application should work by just adding a mapper and an autowired, with no further manual configuration.

Taking all interfaces as mappers will fulfill the objective but may cause too many side effects because you will have for sure interfaces that are not mappers.

OTOH I do a

[2016-04-01 17:36] jcbvm commented on #39
@emacarron That's truth, the question is how many configuration is allowed for using convention over configuration :P.

But I agree that it should be able to overwrite the defaults or even disable the whole scanning.

[2016-04-02 10:23] emacarron commented on #39
I would not expect that someone that uses spring boot would not want to use scanning, because that is in fact the main feature of boot! :)

Right now scanning can only be disabled by adding one dummy MapperFactoryBean and a @MapperScan configured to find it. Otherwise, if no MapperFactoryBean is found in the context the auto-scan will happen.

[2016-04-02 14:34] jcbvm commented on #39
@emacarron Well for example if you have some complex queries and you want to build a Map with all kind of parameters for the query, you'll most likely want to create this Map in the Mapper implementation class in which you call the SqlSession yourself. In this case scanning is not necessary.

[2016-04-02 16:25] emacarron commented on #39
Of course there are cases when you do not want your interface to be picked as a mapper. That is clear. But if you have a mapper (a mybatis interface with SQL annotations or an attached XML) then it should be always ok that it is autodiscovered.

The only situation I can imagine when auto-scanning does not work is when you have different datasources / sqlSessionFactories. That is a complex case. I

[2016-04-02 16:53] emacarron commented on #39
@kazuki43zoo see commit f3619717cc59c18448bf005cef72d20d4f66fbdb with the exclusions. Not sure if this is a good approach. I am thinking that maybe we should not scan into "repository" to avoid the colision.... but please let me know your thoughts.

[2016-04-04 07:03] eddumelendez commented on #39
I am not agree hardcoding packages to exclude because I have seen projects with other conventions and maybe we are going to open the door to support to other package exclusions and manages this as a issues, which will be crazy.

By default, we can exclude `.mappers` package but can be replaced by a property in `MybatisProperties` to support the customization.

One extreme approach could be remove

[2016-04-04 14:45] emacarron commented on #39
Hi @eddumelendez !

More than exclusions we should decide which packages to include. Or... what sound much better: which conventions are we going to use, following the "convention over configuration" guideline.

What I expect from spring boot is to have an aplication up and running with zero boilerplate. For that to happen, we need conventions that can be overriden only for special cases.

Right n

[2016-04-05 18:08] emacarron commented on #39
Given that the original request is to disable scanning when there is a configuration set in the application.properties I close this issue and start a new one about the scanner.

The reply for @jcbvm is that scanning is that using a config file registers beans inside MyBatis but are not known to spring. In order to be able to inject mappers you need the mappers to be scanned also.

There can be sce

[2016-04-05 18:08] #39 closed

[2016-04-05 18:10] emacarron opened #46 "All interfaces are registered as mybatis mappers even if they are not mappers"
Right now, the mybatis boot starter module takes all the interfaces it founds in a project and registers them as mappers. We should be able to identify if an interface is a mapper or not.

The problem is that mappers are not annotated (the @Mapper annotation does not exist). We did this because we would like to build applications with no mybatis imports at all. So they way you select your mappers

[2016-04-05 18:44] emacarron commented on #29
Sorry we need some text to understand the issue. Please as for a reopen if needed.

[2016-04-05 18:44] #29 closed

[2016-04-06 10:04] mallim commented on #46
While waiting for this fix, is there anyway to disable the MapperScan from happening? Any example?

[2016-04-06 20:26] emacarron commented on #46
Yes. Add a @MapperScan to your main application pointing to a dummy interface. That will register a MapperFactoryBean and default scanning will not start.

[2016-04-07 02:15] mallim commented on #46
Thanks for the example, I think this is a good material to put in the docs. If not, people will have to come to this issue and read about this...

Anyway, this is what is working for my case:

[code]
dummy package contains an interface:

[code]

whereby my mybatis-config.xml has some mappers

hope this will help someone ...

[2016-04-07 05:22] emacarron commented on #46
Good to know! BTW, I am curious about this. Do you want to turn off scanning? if so, why?

[2016-04-07 06:12] mallim commented on #46
I am using this way to avoid all interfaces to be registered as mybatis mappers even if they are not mappers. Actually, can we have a setting to turn off the @MapperScan ?

For example:

[code]

[2016-04-07 14:05] emacarron commented on #46
@mallim But... note that a mapper must be a bean in spring so it can be injected into any other bean. How are you registering your mapper? (or are you using the sqlSessionTemplate?)

[2016-04-07 14:55] mallim commented on #46
Hi @emacarron

I registered all the mappers by using this way:

[code]

spring-boot-starter works with this pattern since 1.0 :+1:

[2016-04-07 15:54] emacarron commented on #46
I see, but I would say you have too much boilerplate.

If you set the @MapperScan()  with the package name (or pattern) where your mappers are this will work fine and you can remove that two @Bean methods.

Can you check that?

[2016-04-07 16:48] emacarron commented on #39
@jcbvm Jacob, can you please check issue #46 ?

[2016-04-07 16:49] emacarron commented on #46
BTW I just have updated master so autoscanning will only pick interfaces inside **/mapper or **/mappers package as a convention (over configration).

@kazuki43zoo I finally decided not to include "repository" to let people mix JPA and MyBatis in the same project.

Can you plese check the snapshot and let us know how it works?

[2016-04-07 17:07] emacarron commented on #43
Seems javadoc is failing on may projects. Looks related to doclava... what about going to old javadoc?

[2016-04-07 17:08] emacarron commented on #36
No reply.

[2016-04-07 17:08] #36 closed

[2016-04-07 17:09] kazuki43zoo commented on #46
@emacarron

OK, i agree with your decision !!
I think this change should will be announced expressly on release note.

Thanks!

[2016-04-07 17:36] emacarron commented on #46
Sure. And thanks for your opinion!

[2016-04-08 06:41] mallim commented on #46
@emacarron

My boilerplate way is still better than having this log appearing

[code]

And for trying to do this :-)

`@MapperScan("pkg1,pkg2,pkg3,pkg4")`

[2016-04-08 07:07] emacarron commented on #46
You can specify a pattern in basepackage. You may want to try that.
El 8 abr. 2016 8:41 a. m., "Ian Lim" <notifications@github.com> escribió:

[2016-04-09 11:35] 805056790 commented on #43
I got a problem , can anyone help and solve ??  http://stackoverflow.com/questions/36514622/mybatis-spring-boot-org-apache-ibatis-binding-bindingexception-invalid-bound-s

[2016-04-09 12:11] emacarron commented on #46
I have recoded this to be more aligned with Spring @Configuration that is based on annotations. So I have added a @Mapper marker annotation to the core so other DI frameworks can use it (spring, boot, cdi)

Thoughts?

[2016-04-09 12:21] jeffgbutler commented on #46
I think that's a good idea.

[2016-04-09 13:27] mallim commented on #46
@emacarron

This is a very good idea :+1:

[2016-04-16 06:08] emacarron commented on #43
@805056790

Looks indeed like MyBatis is detecting your interface as a mapper. This is fixed in 1.1.0 which we will release inmediately.

Note that you will have to add the @Mapper annotation to your mapper so it can be identified by the auto-scanning.

Sorry!

[2016-04-18 00:36] hazendaz commented on #43
Release javadoc issues have been resolved so closing this.

[2016-04-18 01:22] hazendaz commented on #43
There is still some issue in release.  Before I released I knew there was a small issue with velocity file but that was not an issue with spring release.  Here, it failed as expected in same spot during site build but what additionally occurred was missing binaries in sonatype.  I had to run deploy with -Prelease to get the binaries out and get the release completed.  This may all in fact be relat

[2016-04-18 04:09] lenicliu opened #54 "Could not find artifact org.mybatis:mybatis-parent:pom:28-SNAPSHOT after upgrade to 1.1.0"
Here is my pom.xml

[code]

And I got the following error when executing `mvn clean package`

[code]

![mybatis-spring-boot-issues-54](https://cloud.githubusercontent.com/assets/728240/14593579/bcfec34e-055e-11e6-8e36-f1d2bbd2abbb.PNG)

Thanks

[2016-04-18 05:09] emacarron commented on #54
Hi @lenicliu you are right. Something went wrong with the deployment to central given that the tag contains the right pom.xml

Thanks for the heads up!

[2016-04-18 06:22] kazuki43zoo opened #55 "Parent version of mybatis-spring-boot-1.1.0 is wron version."
Currently, maven build is failing on the `mybatis-spring-boot-starter` 1.1.0.
Parent version is the `28-SNAPSHOT`.
I think `27` is correct.

See http://repo1.maven.org/maven2/org/mybatis/spring/boot/mybatis-spring-boot/1.1.0/mybatis-spring-boot-1.1.0.pom

[2016-04-18 06:26] emacarron commented on #55
Hi @kazuki43zoo Thanks for pointing. We will release 1.1.1 to fix that soon.

I will close this an leave #54 open.

[2016-04-18 06:26] #55 closed

[2016-04-18 06:30] kazuki43zoo commented on #55
Oh, sorry ... i was not confirm existing issue.

[2016-04-18 07:10] syhily commented on #54
Any solutions?

[2016-04-18 09:48] emacarron commented on #54
Good to know you like the feature. I am afraid you will need to wait for 1.1.1 that hopefully will be released inmediately.

[2016-04-18 15:23] syhily commented on #54
I have solved this problem by temporary downrating the parent pom to release version in my local maven repository. Waiting for the new fix version released, and appreciate your cool work.

[2016-04-18 15:53] emacarron commented on #54
Thanks for your patience!

[2016-04-18 23:58] kazuki43zoo commented on #54
I hope to release early 😄

[2016-04-19 00:24] hazendaz commented on #54
Version 1.1.1 has been released and will be available in next few hours.

[2016-04-19 00:24] #54 closed

[2016-04-19 04:51] #46 closed

[2016-04-19 06:30] lenicliu commented on #54
works fine now, thanks.

[2016-04-19 06:32] syhily opened #60 "Should I use mybatis.config-location instead of mybatis.config"
https://github.com/mybatis/spring-boot-starter/blob/master/mybatis-spring-boot-samples%2Fmybatis-spring-boot-sample-xml%2Fsrc%2Fmain%2Fresources%2Fapplication.properties#L18

See this line.

[2016-04-19 09:20] emacarron commented on #60
Both should work. But given that config can be confused with a new parameter (configuration) then it is better that you use mybatis-location.

BTW.... the tracker is for issues, not for questions! :)

[2016-04-19 09:20] #60 closed

[2016-04-23 02:38] hazendaz commented on #43
Closing again.  Lesson learned....Maven release plugin is far more complicated than expected.

[2016-04-23 02:38] #43 closed

[2016-04-23 02:41] hazendaz opened #66 "Logging Suggested change"
Currently both apache commons logging and slf4j are on the class path.  Apache commons logging, in my opinion is far less flexible than slf4j and given slf4j is already there, I think we should move to using slf4j and let it test internally for logging needs and further avoid formatting within log statements as slf4j provides that out of the box and incurs cost only when it truely needs to write t

[2016-05-07 15:29] kaixinwangzi1982 opened #72 "spring boot mybatis annotations does not work"
I followed the samples and create a new boot project and run it. errors displayed in console.

java.lang.annotation.AnnotationFormatError: Invalid default: public abstract java.lang.Class org.mybatis.spring.annotation.MapperScan.factoryBean()
	at java.lang.reflect.Method.getDefaultValue(Method.java:747) ~[na:1.7.0_80]
	at sun.reflect.annotation.AnnotationType.<init>(AnnotationType.java:128) ~[na:1

[2016-05-07 15:38] kaixinwangzi1982 commented on #72
I write some codes in samples . errors comes

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'areaDao': Injection of autowired dependencies failed; nested exception is org.springframework.beans.factory.BeanCreationException: Could not autowire field: protected org.apache.ibatis.session.SqlSession sample.mybatis.BaseDao.writableSQLSession; nested exception is

[2016-05-12 15:27] emacarron commented on #72
Sorry but this bug is not related with spring boot. Is it?

[2016-05-12 15:27] #72 closed

[2016-05-26 03:39] kevin19891229 opened #76 "namespace"
In file "spring-boot-starter/mybatis-spring-boot-samples/mybatis-spring-boot-sample-xml/src/main/resources/sample/mybatis/mapper/CityMapper.xml", I found "<mapper namespace="sample.mybatis.mapper.CityMapper">" and it works.
What's the rule of namespace?

[2016-05-26 04:53] emacarron commented on #76
The rule of thumb is: the namespace should be equal to the mapper name.

So, that empty namespace is an error, though it is too late for us to add a validation for that because we may break existing code.

[2016-05-26 04:53] #76 closed

[2016-05-26 08:03] kevin19891229 commented on #76
Thanks, I made a mistake. I mean I found "mapper namespace="sample.mybatis.mapper.CityMapper"
", but the file CityMapper does not exist in the current module. I think CityDao may be the related one, but when I change CityMapper to CityDao, it does not work.

[2016-05-26 18:28] emacarron commented on #76
Having a Mapper interface is optional. You may use the xml directly instead. The CityDao is not a mapper but a "classic" Dao that uses the MyBatis API to execute statements written in the xml file.

[2016-05-27 01:53] chenjiee815 opened #77 ""mybatis-spring-boot-autoconfigure" Web page: Link error"
URL: http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/#Running_Samples

The link of '2nd Sample' should be https://github.com/mybatis/spring-boot-starter/tree/master/mybatis-spring-boot-samples/mybatis-spring-boot-sample-xml .

[2016-05-27 05:01] emacarron commented on #77
Fixed. Thank you!

[2016-05-27 05:01] #77 closed

[2016-06-22 05:09] jkdntc opened #78 "Multi Datasource"
How to config two datasource.

[2016-07-07 10:33] linzebin opened #80 "how to add a mybatis plugin use annotation?"
how to add a mybatis plugin use annotation?

[2016-07-11 10:01] blmarket opened #81 "Update to MyBatis 3.4.2 and MyBatis-Spring 1.3.1"
current latest release 1.1.1 contains only 3.4.0, which is not the latest one.

[2016-07-12 10:24] kazuki43zoo commented on #81
This issue fix via #79. 3.4.1 will include in 1.1.2.
However, 1.1.2 has not been released yet.

[2016-07-29 11:07] eddumelendez opened #85 "Upgrade to spring-boot 1.4.0"

[2016-07-29 11:08] #85 closed

[2016-07-29 11:10] eddumelendez commented on #66
Since the PR has been merged, I will proceed to close this issue.

[2016-07-29 11:10] #66 closed

[2016-07-29 15:00] kazuki43zoo commented on #85
👍

[2016-08-07 10:29] 928255095 opened #88 "Could not open ServletContext resource [/mybatis-config.xml]"
application.properties
# mybatis config
spring.datasource.schema=import.sql
mybatis.config-location=mybatis-config.xml
logging.level.root=WARN
logging.level.sample.mybatis.mapper=TRACE

and mybatis-config.xml same catalog application.properties

[2016-08-07 11:03] 928255095 commented on #88
oh I know
 mybatis.config-location=classpath:/mybatis-config.xml

[2016-08-08 01:24] mallim commented on #81
any particular date version 1.1.2 will be release ?

[2016-08-08 17:19] kopax commented on #81
I am struggling on internet trying to find a non deprecated tutorial for making it work (eg: use multiple .properties instead of .yml, different sql jdbc drivers ...)
I have this dependencies in my gradle

    compile("org.mybatis:mybatis:3.4.1")
    compile("org.mybatis:mybatis-spring:1.3.0")
    compile("org.springframework.boot:spring-boot-starter-web")

I use the latest version of MariaDB, spr

[2016-08-09 02:22] eddumelendez commented on #88
If it has been solved, can you close the issue?

[2016-08-09 03:09] kopax commented on #78
+1

[2016-08-09 03:34] kopax opened #89 "Why my spring-boot-starter use yml configuration file instead of .properties"
I am using the same versions as in [PR79](https://github.com/mybatis/spring-boot-starter/pull/79)

I have followed this tutorial to initialize my Spring project : https://spring.io/guides/gs/spring-boot-docker/

I don't understand why the configuration files use .properties, while mine use .yml.

[2016-08-10 17:07] kazuki43zoo commented on #85
Hi @eddumelendez

Milestone is 1.1.2(maintenance version up) ? I think 1.2.0(minor version up) is better. What do you think ?

[2016-08-15 11:08] #88 closed

[2016-08-15 11:09] eddumelendez commented on #85
@kazuki43zoo you read my mind. I will review son pending PRs and then tell the team to release with version `1.2.0`

[2016-08-15 12:38] eddumelendez opened #90 "Move to constructor injection in configuration classes"

[2016-08-15 12:39] #90 closed

[2016-08-17 13:57] jacks808 commented on #78
+1

[2016-08-22 09:47] lrhgoo commented on #78
+1

[2016-08-24 16:05] h3adache commented on #78
you can not atm. It uses a single datasource.

Refer to http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/ - quick setup section and the source code.

Looks like an enhancement request if you need it to support multiple datasource. Or submit a patch?

[2016-09-07 10:07] chengbaobao630 opened #91 "how can i integration spring boot mybatis with pagehelper"
when i use pagehelper  and annotation Sqlprovider

org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.reflection.ReflectionException: There is no getter for property named 'providerTakesParameterObject' in 'class org.apache.ibatis.builder.annotation.ProviderSqlSource'

i find field providerTakesParameterObject in class PageProviderSqlSource ,but not in  use

[2016-09-08 01:44] mallim commented on #91
Just upgrade your pagehelper version, refer to http://git.oschina.net/free/Mybatis_PageHelper/issues/102 for more details

[2016-09-08 16:26] qinxi opened #92 "NoSuchBeanDefinitionException:SqlSession"
when I upgrade to gradle 3.0 ,spring boot 1.4 ,mybatis-spring-boot1.1.1

[code]

UserRepository.java
[code]

dependencies
[code]
gradle.properties:
[code]

[2016-09-08 16:53] kazuki43zoo commented on #92
Can you provide a repro project on github ?

[2016-09-08 23:34] qinxi commented on #92
Hi here  https://github.com/qinxi/gradle3

[2016-09-09 01:20] kazuki43zoo commented on #92
Hi @qinxi.

### Root cause

The bean of `DataSource` has not been registered to the DI container.

### Why ?

The auto configure mechanism for datasource has been changed at Spring Boot 1.4.

* http://docs.spring.io/spring-boot/docs/1.4.0.RELEASE/reference/htmlsingle/#boot-features-connect-to-production-database

For details, please refer the source code of `DataSourceAutoConfiguration`.

Probably

[2016-09-09 01:25] zhxxcq commented on #92
This is my configuration example:
`@Configuration
@EnableConfigurationProperties(DataSourceProperties.class)
public class DruidDatasourceConfig {

    @Bean
    @ConfigurationProperties("spring.datasource.druid")
    public DruidDataSource dataSource(
            DataSourceProperties properties) {
        DruidDataSource dataSource = new DruidDataSource();
        dataSource.setDriverClassName(pro

[2016-09-09 01:34] zhxxcq commented on #80
I use this configuration for mybatis plugin and that work ok.
`@Configuration
@AutoConfigureAfter(MybatisAutoConfiguration.class)
public class MybatisPageHelperInterceptor {

    @Bean
    @ConditionalOnMissingBean
    public PageHelper pageHelperInterceptor() {
        PageHelper pageHelper = new PageHelper();
        Properties properties = new Properties();
        properties.setProperty("reaso

[2016-09-09 02:48] qinxi commented on #92
that is ok. very nice .

thx.

[2016-09-09 02:48] #92 closed

[2016-09-09 05:51] walkwolf opened #93 "spring boot maven package war to tomcat mybatis/springbootstarter 1.1.1 start error"
I create project with spring boot 1.4.0 and mybatis/spring-boot-starter 1.1.1.

The demo project in https://github.com/walkwolf/testboot
Any help thanks!

## @Autowired problem
I find @Autowired SqlSessionFactory factory; then get mapper is no problem.
Use @Autowired Mapper is error.

[code]

In other words, Mapper not exist in spring context.
I trace the problem ,then find MybatisAutoConfiguratio

[2016-09-09 08:19] chengbaobao630 commented on #91
thanks

[2016-09-09 08:19] #91 closed

[2016-09-09 16:28] kazuki43zoo commented on #93
@walkwolf

If you use auto configure for `DataSource` and `DataSourceTransactionManager`, please contain the `spring-jdbc` jar.

[code]

Please try this.

Thanks.

[2016-09-09 17:49] walkwolf commented on #93
@kazuki43zoo
I imported the spring-jdbc ,then tomcat work normal ,thanks a lot~.
Hope to include it in the mybatis/spring-boot-start document.
Look forward to the next version of MDB include `@Mapper`.
**Strange is why IDE runs normally without spring-jdbc?**

[2016-09-09 18:13] kazuki43zoo commented on #93
No. This behavior depends on a IDE or build plugin implementation.

For example )

* Eclipse run normally
* Spring Boot maven plugin (`mvn spring-boot:run` ) run normally
* IDEA fail

Probably, Eclipse and Spring Boot maven plugin import the `spring-jdbc` jar via `spring-boot-starter-jdbc`.

[code]

[2016-09-09 18:15] kazuki43zoo commented on #93
Please contribute !!

[2016-09-09 18:24] kazuki43zoo commented on #93
You can scan Mapper interfaces that not annotate the `@Mapper` using `@MapperScan` as follow:

[code]

[2016-09-10 01:21] #93 closed

[2016-09-11 00:49] eddumelendez commented on #89
@kopax I don't understand your question. Is it related to mybatis-spring-boot-starter?

[2016-09-12 07:04] #89 closed

[2016-09-14 06:13] linzebin commented on #80
It worked : )

[2016-09-14 06:14] #80 closed

[2016-09-20 06:55] kazuki43zoo commented on #81
@eddumelendez

I hope to release 1.2.0 after release MyBatis 3.4.2.

[2016-09-20 22:52] tokuhirom opened #94 "Enable properties via application.properties"
I'm putting few configurations in mybatis.xml.
I want to configure mybatis in application.properties instead.

I'm using mybatis.xml like following. I wonder if I can configure it in application.properties.

[code]

[2016-09-20 23:32] kazuki43zoo commented on #94
Hi @tokuhirom, you can configure above configurations via `application.properties` since 1.1.0.

[code]

But these properties cannot use at the same time with the `mybatis.config-location` property.

http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/#Configuration

[2016-09-20 23:33] tokuhirom commented on #94
Oh! I don't know about this type of configuration properties. Thanks!

[2016-09-20 23:33] #94 closed

[2016-09-21 09:42] ftqh-johnny opened #96 "When using @Mapper, i can not mapping field properties in mapper.xml , ask for help!"
error: org.apache.ibatis.builder.BuilderException: Error parsing Mapper XML. Cause: java.lang.IllegalArgumentException: Result Maps collection already contains value for com.ft.passport.mapper.UserMapper.user。
userMapper.xml:
[code]
interface UserMapper:
[code]

[2016-09-21 10:25] kazuki43zoo commented on #96
Please provide a repro project on github.

[2016-09-21 14:41] mrvon2015 opened #97 "why maven can't find 1.2.0"
why maven can't find 1.2.0

[2016-09-21 14:55] kazuki43zoo commented on #97
1.2.0 has not been released yet.

[2016-09-21 14:59] kazuki43zoo commented on #97
If you use a snapshot version(1.2.0-SNAPSHOT), please add maven repository settings as follows:

[code]

[2016-09-22 01:50] mrvon2015 commented on #97
thanks

[2016-09-22 08:52] ftqh-johnny commented on #96
project repo : https://github.com/ftqh-johnny/spring-boot-mybatis-sample.git

mysql table ddl:
[code]

[2016-09-22 10:00] kazuki43zoo commented on #96
Please try to change a configuration in `application.properties` as follows:

[code]

And you should specify the `@ResultMap` annotation on a Mapper method as follows:

[code]

[2016-09-22 10:13] kazuki43zoo commented on #96
@ftqh-johnny

I will recommend following solution:

* detect mapper files automatically (Change mapper file location)

    Before : `META-INF/mybatis/mappers/UserMapper.xml`
    After : `com/ft/turorial/spring/boot/mapper/UserMapper.xml`

* Undefine `mybatis.mapperLocations` property

[code]

Please try this !!

[2016-09-22 10:26] kazuki43zoo commented on #96
@ftqh-johnny

P.S

I have more recommendation !!
In this case, you can omit explicit result mapping (= use auto-mapping).

* Add configuration in `application.properties` as follow:

[code]

* Remove `@ResultMap` on Mapper method
* Remote mapper file on your project

Please try this !!

[2016-09-22 10:31] kazuki43zoo commented on #96
@ftqh-johnny

And you can omit the `jdbcType` option in bind parameter variable as follows:

[code]

[2016-09-23 02:04] ftqh-johnny commented on #96
@kazuki43zoo
The problem is solved， thanks a lot !

[2016-09-23 02:04] #96 closed

[2016-09-26 05:36] eddumelendez commented on #97
@mrvon2015 every snapshot is published after each commit. As a @kazuki43zoo said you need the snapshot repository to be added in your `pom.xml`.

[2016-09-26 05:36] #97 closed

[2016-09-26 05:37] eddumelendez commented on #81
@kazuki43zoo we will include mybatis 3.4.2 and I'll request the release of the next version. Thanks to be worried about the project. 👍

[2016-10-10 07:37] snicoll opened #102 "Unusual dependency structure"
The dependency structure of this project is a bit unusual. Usually, the `autoconfigure` module has optional dependencies on the things it's providing auto-configuration for. That way, one can add it to their project without bringing the actual technical stack with it. The starter then gathers the minimal set of dependencies that are required to work with said  stack + the `autoconfigure` module.

[2016-10-10 17:22] emacarron commented on #102
Of course we do agree @snicoll and thanks in advance for your help!

[2016-10-10 18:03] kazuki43zoo commented on #102
@snicoll Thanks for good advice !! We will improve the dependency structure.

[2016-10-11 07:21] DeadLion commented on #15
i met the same problem,add prefix classpath: wokrs
e.g
mybatis.config-location=classpath:mybatis-config.xml

[2016-10-11 09:07] xiaoxing598 commented on #15
@tianshuang 其实不用在它的配置文件里面再去配置数据库连接，因为他可以使用dataSource，所以你可以用某个连接池来配置。我目前在spring-boot + mybatis里面可以很好的工作。

[2016-10-11 09:12] xiaoxing598 commented on #15
@DeadLion I am in the `application.yaml` file as the following configuration is successful.
[code]
I put `application.yaml` and `mybatis-config.xml` in the same file directory, They are all below resources.

[2016-10-12 08:54] thiaguel opened #105 "How can i set validation-query and test-on-borrow properties to my datasource ?"
I use mybatis with Teradata as Database.  Every night, Teradata kill all idle connections from my pool.
That occurs exception when my application tries to connect to the database, because all connections have been killed. I tried to set theses properties
spring:
  datasource:
    validation-query: select 1
    test-on-borrow: true .
But Mybatis seems to ignore it.
Can you help me solving this prob

[2016-10-12 09:10] kazuki43zoo commented on #105
@thiaguel

What version of spring-boot is used ?
1.3.x ? 1.4.0+ ?

Since spring-boot 1.4, property keys to configure connection pool settings has been changed.
For details, please refer to [the Spring Boot 1.4 Release Notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.4-Release-Notes#datasource-binding).

[2016-10-12 09:14] thiaguel commented on #105
Thank you for your response.
i'm using 1.4.0.RELEASE  for spring-boot

[2016-10-12 09:19] kazuki43zoo commented on #105
You should be changed property keys !!

[2016-10-12 09:36] thiaguel commented on #105
OK, i must use these one
datasource:
 tomcat :
    validation-query: select 1
    test-on-borrow: true

Is it right ?

[2016-10-12 09:40] kazuki43zoo commented on #105
Please try as follow:
[code]

[2016-10-12 10:34] thiaguel commented on #105
Ok, thank you so much kazuki43zoo.
I will let you know tomorrow.

[2016-10-14 02:29] junegod commented on #78
+1

[2016-10-17 15:09] fwz opened #106 "Error creating SqlSessionFactory with faulty mapper class path"
Hi, I am trying to adapt Spring boot(1.4.1) and mybatis-spring-boot-starter(1.1.1) to my project.

When the application launch, I got exceptions on the stage of initialising mappers.

2016-10-17 22:46:55.008  WARN 26277 --- [           main] ationConfigEmbeddedWebApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory

[2016-10-17 15:43] kazuki43zoo commented on #106
Hi @fwz,

Is need `mapperLocations: classpath*:**/mapper/*.xml` (loading explicit Mapper files) ?
MyBatis provide the mechanism for discover mapper files automatically. (I will recommend to use it)
If you use explicit loading, you should be narrow the loading target files. (e.g. `classpath:/com/example/**/mapper/*Mapper.xml`).

If you can resolve this issue, please provide a repro project to us vi

[2016-10-17 15:48] kazuki43zoo commented on #106
The `mbeans-descriptors.xml` is not MyBatis mapper file. Therefore you should be defined to exclude it.

[2016-10-17 15:54] fwz commented on #106
thank you @kazuki43zoo ! That's the case!

I didn't realize that the problem is brought by a poorly defined mapper file pattern.

And yes I think I could also turn to @MapperScan("com.***.pms.example.dao"). Is it the mechanism you recommended?

[2016-10-17 16:16] kazuki43zoo commented on #106
No.
The MyBatis Spring Boot AutoConfigure provide a mechanism for discover mapper interface annotated `@Mapper` from base package of spring boot application. I will recommend to use it.
Please see http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/ .

e.g)

[code]

[2016-10-17 16:26] kazuki43zoo commented on #106
I'm developing the MyBatis JPetstore sample application using MyBatis Spring Boot Starter. If you are interested, please see https://github.com/kazuki43zoo/mybatis-spring-boot-jpetstore .
(Note :This sample application does not use xml mapper file)

[2016-10-17 16:30] kazuki43zoo commented on #106
The MyBatis Spring Boot AutoConfigure provide a mechanism for discover mapper interface annotated @Mapper from base package of spring boot application. I will recommend to use it.
Please see http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/ .

However, if you cannot annotated the `@Mapper` in your mapper interface, i suggest to use the `@MapperScan` annotation instead o

[2016-10-17 16:37] kazuki43zoo commented on #105
Hi @thiaguel
If you cannot resolve this issue, please reopen this.

[2016-10-17 16:37] #105 closed

[2016-10-17 16:44] fwz commented on #106
Great! It's clean and I will utilize it in my coming project. Again, thanks for your help and the suggestion. @kazuki43zoo

[2016-10-17 16:46] #106 closed

[2016-10-18 08:31] thiaguel commented on #105
Good,  that resolves the issue.
Thank you .

[2016-10-19 19:09] raf66 opened #107 "Property 'mapperLocations' was not specified or no matching resources found"
In my application.properties file, the only mybatis entry I have is:

   mybatis.mapper-locations=classpath_:mapper/_Mapper.xml

The actual XML files are in:
   src/main/resources/mappers/
       |-> UserMapper.xml

My Mapper interfaces are loaded using the @Mapper annotation.

I am using 1.1.1 of mybatis-spring-boot-starter

Here's the start-up log:

Searching for mappers annotated with @Mapper'

[2016-10-20 15:05] raf66 commented on #107
My (hack) workaround is to have maven copy the XML files to the package that contains my mapper Java interface files.  I added this to the pom.xml file.

<resource>
		<targetPath>com/myapp/db/mappers</targetPath>
		<directory>${basedir}/src/main/resources/mappers</directory>
		<filtering>false</filtering>
		<includes>
			<include>**/*.xml</include>
		</includes>
</resource>

[2016-10-20 15:09] kazuki43zoo commented on #107
If possible, please provide a repro project via GitHub.

[2016-10-26 02:47] zxkane opened #108 "Compatibility issue with spring boot 1.4.x"
Everything works fine when using mybatis-spring-boot-starter 1.1.1 and spring boot 1.3.8. Even upgrading mybatis lib to latest 3.4.1.

After upgrading spring boot to 1.4.1, I got below exception when launching my app,

The mapper xml looks like below,

[code]

Any suggestion?

[2016-10-26 02:55] kazuki43zoo commented on #108
Hi @zxkane, can you provide a repro project on GitHub ? I want to confirm configurations in your application.

Thanks.

[2016-10-26 15:51] zxkane commented on #108
Thanks for quick response.

You can play it with the test repo(
https://github.com/zxkane/mybatis-spring-boot-test).

I also observe something else strange. The app can be launched well in
IDE(IntelliJ IDEA). But it would fail to be launched after packing it as
fat jar.

[code]

Kane

https://vme360.com

On Wed, Oct 26, 2016 at 10:55 AM, Kazuki Shimizu <notifications@github.com>
wrote:

[2016-10-26 21:06] kazuki43zoo commented on #108
Hi @zxkane ,
Probably, this issue is problem of the Spring Boot 1.4 (or/and Spring Framework 4.3). I found a related issue on Spring Framework JIRA ticket ([SPR-13685](https://jira.spring.io/browse/SPR-13685)) .

I will suggest to use mapper file auto loading feature instead of. (this solution is recommended)

* delete the `mapperLocations` property.

[code]

* change storing directory and file na

[2016-10-27 15:35] zxkane commented on #108
Kazuki, thank you for having look at this issue deeply.

You recommendation is really good. After making those changes, the project
can be launched with spring boot 1.4.1.

Looks like something is broken in spring mvc, pls free to close this issue.

Kane

https://vme360.com

On Thu, Oct 27, 2016 at 5:06 AM, Kazuki Shimizu <notifications@github.com>
wrote:

[2016-11-03 04:50] jacks808 commented on #78
Here is my double datasource config:

maven dependency:

[code]

[code]

Datasource km config class:
[code]

Here is datasource esb config class:

[code]

Then you can use the two annotation: `UseDatasourceESB` or `UseDatasourceKM` to annotate your mapper class like:

[code]

[2016-11-04 19:40] tradercentric commented on #78
Thanks @jacks808 , here is my double Oracle datasource example in Spring Boot (hopefully it is simpler).

**pom.xml:**

[code]

**resources/application.properties:**

#Basic Spring Boot Config for Oracle

[code]

**CrdDatasoureConfig.java:**

[code]

**StagingDatasourceConfig.java:**

[code]

**The mapper for CrdDatasource is under package com.cg.crd.etl.mappers.crd**

[code]

**The mapper for Sta

[2016-11-15 08:51] tianhao opened #110 "can application.yml configure mapUnderscoreToCamelCase and other setting like it?"
mybatis-config.xml
[code]

can I move it into application.yml ? like this:
[code]

[2016-11-15 09:09] tianhao commented on #110
it work!

[2016-11-15 09:09] #110 closed

[2016-11-15 12:07] JesseBlackman commented on #78
I want to get datasource id through custom annotationClass's in @MapperScan, but I got null.
check here:
[https://github.com/mybatis/mybatis-3/issues/835](https://github.com/mybatis/mybatis-3/issues/835)

[2016-11-15 13:46] kazuki43zoo commented on #110
@tianhao

:+1:  Since 1.2.0 (has not been released yet), you can use a input completion on IDE.

See gh-61.

[2016-11-17 00:28] #102 closed

[2016-11-17 00:29] kazuki43zoo commented on #102
Hi @eddumelendez @emacarron @hazendaz @harawata , I've merged this changes. If you found a problem, please reopen this issue.

Thanks.

[2016-11-17 12:33] kazuki43zoo commented on #107
Hi @raf66, Can you provide a repro project via GitHub ?

[2016-11-18 10:31] jacks808 commented on #78
@JesseBlackman  If you want to use different annotation to mark `Mapper` class for switch datasource.
Here is the way:

1.Impl 2 different Annotation for mark your mapper class, `UseDatasourceA` and `UserDatasourceB`

2. add this config to your datasource config class both:

[code]
NOTE: notice the attribute of **annotationClass** this should same as your mark annotation.

You can find more detail

[2016-11-21 10:02] PowerBin opened #116 "CustomSessionTemplate Never Called?"
[code]

[code]

As the code above ,I had implements the SqlSessionInterceptor class.
But it is allways call "**org.mybatis.spring.SqlSessionTemplate**" not "**com.becool.base.spring.sqlSessionTemplate.CustomSqlSessionTemplate**",
I do not know why?
Please help me,thank you very much!!!

[2016-11-21 10:20] kazuki43zoo commented on #116
Hi @PowerBin , thanks for reporting !!
Could you provide a repro project on GitHub for investigating this issue ?

[2016-11-22 06:08] PowerBin commented on #116
Hi @kazuki43zoo ,i sorry reply you so late.
I have push my project on GitHub,URL:https://github.com/PowerBin/spring-boot/wiki,
Thank you very much!!!

[2016-11-22 07:22] kazuki43zoo commented on #116
I think your configuration is not correct on the `SpringMybatisDaoConfig`.
(And I think this issue does not related with spring boot ...)

Please try following solutions. Probably, you can inject the custom `SqlSessionTemplate` to your mapper.

## Solution 1

Please remove `mapperScannerConfigurer.setSqlSessionFactoryBeanName("sqlSessionFactory");`.
Upon applying this change, the Spring DI contain

[2016-11-22 07:29] kazuki43zoo commented on #116
@PowerBin I've closed this issue because does not relate with this project. If you have more questions, please post to the user forum (https://groups.google.com/forum/#!forum/mybatis-user).

Thanks.

[2016-11-22 07:29] #116 closed

[2016-11-22 15:29] kazuki43zoo commented on #108
Hi guys, there are bug that provides duplicate resources form the `PathMatchingResourcePatternResolver` since Spring Boot 1.4(Spring 4.3). For example, path pattern such as `classpath*:/**/mappers/**/*.Mapper.xml` does not work on Spring Boot 1.4.
This is a regression introduced by [SPR-13685](https://jira.spring.io/browse/SPR-13685). For details refer to the [SPR-14934](https://jira.spring.io/bro

[2016-11-22 16:04] kazuki43zoo commented on #108
see https://github.com/spring-projects/spring-boot/issues/7449.

[2016-11-29 06:50] ShawnyXiao commented on #107
I encouter the same problem. How to provide a repro project?

[2016-11-29 07:11] ShawnyXiao commented on #107
@kazuki43zoo I created a private repository, which contains the problem project. And I add you as a collaborator. It means that maybe you could touch the problem.

[2016-11-29 07:32] ShawnyXiao commented on #107
I have found my problem, which is very confusing.
It is like...
In IDEA IntelliJ, the structure of package of "com/xxx/xxx" will be name as "com.xxx.xxx". But if you name a package as "com.xxx.xxx", it would also be display as "com.xxx.xxx", which is very confusing.
That is the real problem what I encountered, producing the same result.

[2016-12-01 15:52] kazuki43zoo commented on #108
spring-projects/spring-boot#7449 has been resolved. (However, it has not been release yet)

[2016-12-01 15:58] kazuki43zoo commented on #108
I will update to Spring Boot 1.4.3.RELEASE.

[2016-12-15 09:47] tianhao opened #120 "How can i write mapper scan configuration to application.yml ?"
My application.yml:
[code]
and MybatisConfig:
[code]

How can i write mapper scan configuration to application.yml ?
If I change my package or add new package, I have to change the MybatisConfig.java file, I prefer to change application.yml.

[2016-12-15 12:28] kazuki43zoo commented on #120
Hi @tianhao , mybatis-spring-boot does not support to specify scanning packages using application.yml yet.
If you want to change the scanning specification provided by mybatis-spring-boot, please use the `@MapperScan` annotation. For details see [here](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/#Advanced_scanning).

Thanks.

[2016-12-15 17:04] kazuki43zoo commented on #120
Hi @tianhao

For now, there is no plan to support this. Hence; we will welcome for your contribution !!

[2016-12-15 17:04] #120 closed

[2016-12-16 07:58] softboy99 commented on #81
I'm also waiting for that update, Thanks.

[2016-12-16 08:41] kopax commented on #81
FYI, there is an amazing plugin that has just been release this month for spring and mybatis.

It work with [spring-data](http://projects.spring.io/spring-data/), [spring-data-rest](http://projects.spring.io/spring-data-rest/), [spring-hateoas](http://projects.spring.io/spring-hateoas/).

The project : https://github.com/hatunet/spring-data-mybatis/

If you want to test it out with me, the author

[2016-12-18 15:37] QiuMing opened #121 "Get error after add spring-boot-starter-web in mybatis-spring-boot-starter-sample-annotation"
Hello ,I am learning mybatis-spring-boot-starter.And I just add spring-boot-starter-web in the pom.And  then start it ,get this error
[code]
And it seems spring boot did not found the import.sql. And how can I solve this problem,any  one could give me some tips? Thanks.

[2016-12-18 17:18] kazuki43zoo commented on #121
Hi @QiuMing , Thanks for your reporting !!
This problem can resolve to change the `application.properties` as follow:

[code]

I will fix this ASAP.

Thanks again!

[2016-12-18 18:01] kazuki43zoo commented on #121
Fixed via gh-122.

[2016-12-18 18:01] #121 closed

[2016-12-18 18:19] kazuki43zoo commented on #90
This change need to Spring 4.3+.

[2016-12-20 01:06] kazuki43zoo commented on #17
fixed via https://github.com/mybatis/spring-boot-starter/pull/40.

[2016-12-20 01:39] kazuki43zoo opened #124 "Broken homepage link at Project Information"
homepage link is broken at [the Project Information page](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/project-summary.html).

## Related Links

* https://github.com/mybatis/spring-boot-starter/pull/70

[2016-12-20 02:24] #124 closed

[2016-12-23 03:33] #108 closed

[2016-12-30 15:20] kazuki43zoo opened #125 "Introduce requirements for Spring Boot, Spring and MyBatis version in Doc"
## 1.0.x (1.0.2)

* Spring Boot 1.3 (Spring 4.2) +
* MyBatis 3.3 +
* MyBatis-Spring 1.2 +

## 1.1.x ( 1.1.1 GA)

* Spring Boot 1.3 (Spring 4.2) +
* MyBatis 3.4 +
* MyBatis-Spring 1.3 +

## 1.2.x (1.2.0 GA)

* Spring Boot 1.4(Spring 4.3) +
* MyBatis 3.4 +
* MyBatis-Spring 1.3 +

[2017-01-02 10:20] #81 closed

[2017-01-02 10:26] kazuki43zoo commented on #81
I've updated to MyBatis 3.4.2 and MyBatis-Spring 1.3.1.
And I've fixed assertion error for configuration properties.

[2017-01-02 22:50] kazuki43zoo opened #126 "Remove ognl and javassist on sample applications"
These artifacts are not need on test.

[2017-01-04 03:07] kazuki43zoo commented on #102
## Appendix

Dependency tree on 1.2.0 are follows:

[code]

Dependency tree on 1.1.1 are follows:

[code]

[2017-01-04 06:31] lovettli commented on #78
@jacks808 Nice! It's works for me . Thanks a lot.

[2017-01-04 16:54] kazuki43zoo opened #127 "Metadata is duplicate for `@ConfigurationProperties`"
Currently, metadata is output as follow:

[code]

It should be output as follow:

[code]

[2017-01-04 17:12] kazuki43zoo commented on #127
Apparently, it is related with build settings for OSGI.

I apply following settings on build plugins, it worked fine.

[code]

Since I am not familiar with the Maven, I would like to hear opinions from everyone.
What is best solution for fix this issue ?

[2017-01-05 16:33] kazuki43zoo opened #128 "Consider to remake samples using SPRING INITIALIZR"
We consider to remake [samples](https://github.com/mybatis/spring-boot-starter/tree/master/mybatis-spring-boot-samples) using the [SPRING INITIALIZR](https://start.spring.io/).

[2017-01-05 17:24] eddumelendez commented on #128
@kazuki43zoo can you explain a little bit more please? :)

[2017-01-05 18:09] kazuki43zoo commented on #128
Hi @eddumelendez , yes of  course !!

Currently samples can not execute using `java` command.

[code]

 In other words, the created jar file is not executable jar.

[code]

I will guess this problem related with current project structure.
And I think maven project generated by SPRING INITIALIZR is more popular project structure for spring boot developers.

What do you think ?

[2017-01-07 03:01] kazuki43zoo opened #129 "Update to Spring Boot 1.5"
Update to the Spring Boot 1.5

[2017-01-07 04:38] kazuki43zoo commented on #129
The build is successful on Travis CI.
See https://travis-ci.org/kazuki43zoo/mybatis-spring-boot/builds/189724545.

[2017-01-08 07:31] kazuki43zoo commented on #127
I've found a solution to fix this.

I've updated to maven-bundle-plugin 3.0.0+ as follow:

[code]

[2017-01-09 17:03] Dreampie opened #131 "type-handlers-package can't work with `*`?"
successed:
[code]

failed:
[code]

[2017-01-09 17:25] kazuki43zoo commented on #131
Hi @Dreampie , The MyBatis and MyBatis-Spring does not support wildcard.
If you want to support this feature, please create a new issue to the MyBatis or MyBatis-Spring.

Thanks.

[2017-01-09 17:25] #131 closed

[2017-01-13 23:36] #127 closed

[2017-01-14 13:04] kazuki43zoo opened #132 "Add ConfigurationCustomizer"
I propose to add the callback interface that can be customized a `Configuration` object generating on auto configuration as follow:

[code]

In this changes, we'll provide fully customization opportunity using Java Config for mybatis users.

[code]

or

[code]

[2017-01-29 03:01] kazuki43zoo opened #134 "Update to Spring Boot 1.4.4.RELEASE"

[2017-01-29 03:26] #134 closed

[2017-01-29 03:30] kazuki43zoo commented on #132
We need to update reference.

[2017-01-29 04:25] #132 closed

[2017-02-04 02:54] kazuki43zoo commented on #129
The build is successful on Travis CI using Spring Boot 1.5.1.RELEASE.
See https://travis-ci.org/kazuki43zoo/mybatis-spring-boot/builds/198104373.

[2017-02-07 07:29] jlkm2010 opened #135 "multi type-aliases-package"
Can support config multi type-aliases-package?
It is necessary.
thinks!

[2017-02-07 16:33] kazuki43zoo commented on #135
You can use `,` , `;`, ` `, `\t`(tab), `\n`(line feed) as separator character.

[2017-02-07 16:35] kazuki43zoo commented on #135
If it does not work, please reopen this.

[2017-02-07 16:35] #135 closed

[2017-02-07 17:54] kazuki43zoo commented on #135
I've update the reference document via 3d6caa614e8493d6642c04b74c8a049de1bf9108.

[2017-02-08 00:03] kazuki43zoo opened #136 "Add the Quick Start on GitHub wiki page"
Introduce the quick start guide to use the [SPRING INITIALIZR](https://start.spring.io/) on ~~README~~ GitHub wiki page.

[2017-02-09 18:30] kazuki43zoo opened #138 "Add explanation of detecting MyBatis components"
Add explanation of detecting MyBatis components in reference document.

* Interceptor
* DatabaseIdProvider

[2017-02-09 18:34] #138 closed

[2017-02-11 00:15] #125 closed

[2017-02-12 09:49] Simple2012hcz opened #139 "get associate data by annotation, the associate sql param always change,according to @Result column"
i use like this to get associate list data:
[code]

 and the associate sql is :

[code]
i find the param is alaways change .
 I think it should according by java reflect to get param value,the column is get from column by split ,and set it.

[2017-02-14 15:11] kazuki43zoo commented on #139
@Simple2012hcz

I think this issue belong the MyBatis project rather than the MyBatis-Spring-Boot-Starter.

By the way ...

Did you want to use `#{osId}` instead of `#{os_id}` as bind variable ?
If so, probably you can use 「`column = "{id=id,channelId=channel_id,osId=os_id,productId=product_id}"`」 instead of 「`column = "id,channel_id,os_id,product_id"`」.

If you can resolve your issue, please crea

[2017-02-14 15:11] #139 closed

[2017-02-23 04:24] yongdi opened #140 "how to enable auto-commit ?"
I use mybatis-spring-boot-starter and MySQL, everything run ok. but I found that the default configuration is no auto-commit. How to enable it ?

my application.properties:

[code]

[2017-02-23 11:40] arjuncfe opened #141 "org.apache.ibatis.binding.BindingException: Invalid bound statement (not found): com.example.UserMapper.search"
Hi..  All  i am getting error given below :
[code]

And my java class is:

[code]
[code]
[code]

and UserMapper.xml code like this

[code]

What is going wrong in this code

-

[2017-02-23 15:21] kazuki43zoo commented on #140
Please see

* http://docs.spring.io/spring-boot/docs/1.5.1.RELEASE/reference/htmlsingle/#boot-features-connect-to-production-database
* https://tomcat.apache.org/tomcat-8.5-doc/jdbc-pool.html#Common_Attributes

Probably, you can resolve this by following configuration:

[code]

I hope to read a spring boot documentation before question.

Thanks.

[2017-02-23 15:22] #140 closed

[2017-02-23 15:48] kazuki43zoo commented on #141
@arjuncfe

Please provide reproduce project on GitHub.

[2017-02-23 15:56] kazuki43zoo commented on #141
@arjuncfe

I have one question.
Where you save the `UserMapper.xml` ?

[2017-02-23 16:11] eddumelendez commented on #141
@arjuncfe `UserMapper.xml` must be in the same package that `UserMapper.java`

[2017-02-26 05:04] phengtola commented on #78
@jacks808 EsbEnabledCondition.class

[2017-02-27 02:53] jacks808 commented on #78
@phengtola  `EsbEnabledCondition.class` is empty annotation class, here is the code:
[code]

[2017-02-27 03:49] arjuncfe commented on #141
Hi.. All this is my github project repository url :  git@github.com:arjuncfe/mybatis-demo.git

[2017-02-27 04:02] eddumelendez commented on #141
Thanks to share a reproducible project @arjuncfe

In `src/main/resources` your folder is named `com.example` (look at your system directory). Instead, you should have folder `com` and inside folder `example` then put you `UserMapper.xml` inside and run your app again.

[2017-02-27 04:07] kazuki43zoo commented on #141
I've changed it as follow and it's work fine.

* `src/main/resources/com.example/` -> `src/main/resources/com/example`

Thanks.

[2017-02-27 04:07] #141 closed

[2017-02-27 08:49] arjuncfe commented on #141
OK Thanks  it is working 👍

[2017-03-02 14:11] Dreampie commented on #78
multi datasource only config once ?

[code]
this not work for second datasource?

[2017-03-02 14:13] kazuki43zoo commented on #78
The MyBatis Spring Boot AutoConfigure support single datasource(or `@Primary` datasource) only.

[2017-03-02 14:14] Dreampie commented on #78
so . how can add second config?

[2017-03-02 14:28] kazuki43zoo commented on #78
You can inject a `MybatisProperties` bean into your configuration class.
About How to configure, please see https://github.com/mybatis/spring-boot-starter/blob/mybatis-spring-boot-1.2.0/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.java#L112-L140.

[2017-03-02 14:45] kazuki43zoo commented on #78
@Dreampie

If you defined a custom `SqlSessionFactory`(or `SqlSessionFactoryBean`) on your configuration class, the `MyBatisAutoConfiguration` does not create it. In other words, configuration properties provided mybatis-spring-boot(starting with `mybatis.`) does not apply to custom `SqlSessionFactory`.

[2017-03-02 14:54] Dreampie commented on #78
@kazuki43zoo  yes, I add config properties, but get cycle dependencies

[code]

[code]

[2017-03-02 15:47] Dreampie commented on #78
@kazuki43zoo

[2017-03-02 16:45] kazuki43zoo commented on #78
@Dreampie

I've added a multiple datasource demo application on https://github.com/kazuki43zoo/mybatis-spring-boot-multi-ds-demo.

Please check this.

[2017-03-02 17:18] kazuki43zoo commented on #78
@Dreampie I can't help you with just a provided information ... If you need my help, please provide demo(reproduce) application on GitHub.

[2017-03-03 00:52] Simple2012hcz commented on #139
tks,I think i find another way  with your help.

[2017-03-03 01:23] phengtola commented on #78
@jacks808 Thank you. It works now.

[2017-03-03 06:05] Dreampie commented on #78
@kazuki43zoo thanks, https://github.com/Dreampie/mybatis-spring-boot-multi-ds-demo, I resolve cycle dependency, but mapperscan with annotation`@MapperScan(annotationClass = ETLMapper.class...` `@MapperScan(annotationClass = Mapper.class...` for two datasource not work,  these mapper annotationed by `@Mapper` `@ETLMapper` also use primary datasource

[2017-03-03 08:40] kazuki43zoo commented on #78
@Dreampie
I've changed as follow, it's working fine. (the `MybatisDemoApplication#ds2` is failing due to does not exist schema definition.)

* `MybatisConfigurationSupport#build()`

[code]

* `ETLDataSourceConfig#etlSqlSessionFactory()`

[code]

[2017-03-03 16:50] eddumelendez commented on #78
Thanks @kazuki43zoo to provide an example

[2017-03-03 16:50] #78 closed

[2017-03-03 16:52] eddumelendez commented on #107
@ShawnyXiao take care naming folder for mappers :) . I will close this issue because sounds like the root cause.

[2017-03-03 16:52] #107 closed

[2017-03-03 18:00] kazuki43zoo commented on #129
The build is successful on Travis CI using Spring Boot 1.5.2.RELEASE.
See https://travis-ci.org/kazuki43zoo/mybatis-spring-boot/builds/207443918.

[2017-03-04 06:05] kazuki43zoo opened #142 "Update to Spring Boot 1.4.5.RELEASE"

[2017-03-04 06:17] #142 closed

[2017-03-04 07:54] Dreampie commented on #78
@kazuki43zoo thanks for your help

[2017-03-06 22:29] eddumelendez commented on #129
@kazuki43zoo I would like to release `1.2.1` this week with the addition to `MybatisTest` annotation, then upgrade to `1.3.0` to be fully compatible with spring boot `1.5.x`. WDYT?

[2017-03-07 06:39] kazuki43zoo commented on #129
@eddumelendez My oponion is same with you !!

[2017-03-07 06:43] kazuki43zoo commented on #129
I've added new milestone(1.3.0) and included this.

[2017-03-07 14:21] kazuki43zoo opened #144 "Update reference document for @MybatisTest"
See gh-143.

[2017-03-10 08:38] unidoz opened #146 "Transaction How To"
I have two mappers to operate two database tables, but the `@Transactional` Annotation have no effect at all.

Code fragement:

[code]

And the bootstrap class as follow:

[code]

The result is:  user object will be saved to db but the fr not.
Why??

My Env:
spring-boot-starter     1.5.2
mybatis-spring-boot-starter    1.2.0

[2017-03-10 10:40] kazuki43zoo commented on #146
@unidoz Could you provide a minium reproduce project on GitHub ?

[2017-03-13 05:34] unidoz commented on #146
Yes, the demo is locate at https://github.com/unidoz/mybatis-spring-boot-starter-test.git
please run the test of cockpit-component

[2017-03-13 15:05] kazuki43zoo commented on #146
Your code is wrong.
Why catch an `Exception` ? If you want to rollback a transaction, it is unnecessary.

Correct code are:

e.g. )
[code]

If you handle an exception (e.g. logging, etc...), please re-throw an exception.

e.g.)

[code]

I've closed this. If you can not resolve this issue, you can re-open this.
Thanks.

[2017-03-13 15:05] #146 closed

[2017-03-14 06:03] unidoz commented on #146
That's great! Thank you very much.

[2017-03-14 12:35] get2parag commented on #129
I also tried with sprint boot 1.5.2.RELEASE and maybatis-started-1.2.0 works fine.

Are we adding any new functionality with 1.3.0 milestone?

[2017-03-14 12:40] get2parag commented on #136
One observation:-
http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/ mentions <version>1.2.1-SNAPSHOT</version> as the latest version however that is not available on maven central. Though 1.2.0 works fine.

[2017-03-14 12:52] jlkm2010 opened #150 "about config enum type handler"
- could support batch config enum type handler?
- such as:  scan all enums， then use a general enum type handler
- this question bothers me for a long time. has not found a good solution
- thanks for your time!

[2017-03-14 15:09] kazuki43zoo commented on #150
Sorry, I couldn't understand your question. Could you provide a concrete example for this issue ?

[2017-03-14 15:14] kazuki43zoo commented on #136
1.2.1 has not been release yet. If you try 1.2.1-SNAPSHOT , please add repository definition in your pom.xml as follow:

[code]

Thanks.

[2017-03-14 16:46] kazuki43zoo commented on #129
Yes, 1.2.0 work fine on Spring Boot 1.5.

We will plan to support `@MybatisTest` similar to `@DataJpaTest` at version 1.2.1.
And ... by 1.3.0, we will plan to support the `excludeAutoConfiguration` attribute added by Spring Boot 1.5 at `@MybatisTest`.
Thanks.

[2017-03-15 01:01] #144 closed

[2017-03-15 02:42] xuyansong1991 opened #151 "How to use the Java configuration bulk insert"
How to use the Java configuration bulk insert：

single insert:
  @Insert("INSERT INTO users(userName,passWord,user_sex) VALUES(#{userName}, #{passWord}, #{userSex})")
    void insert(UserEntity user);
bulk insert:
???

[2017-03-15 02:44] #129 closed

[2017-03-15 02:47] eddumelendez commented on #151
@xuyansong1991 this is not the right place for questions you can use stackoverflow with `mybatis` tag.

[2017-03-15 02:47] #151 closed

[2017-03-15 03:58] jlkm2010 commented on #150
- Sorry, this is maybe our Business needs or problem.
- We have a custom parent enum and 100+ sub enums. also have a custom enumtypehandler for them. We want to auto and batch config this enumtypehandler.
- My english is not very well. Very sorry.
- thanks.

[2017-03-15 05:26] kazuki43zoo commented on #150
Can not be enough by package scan?

e.g.)
[code]

[2017-03-15 06:21] harawata commented on #150
I think there is only one custom type handler for many enum implementations.
It has been requested several times.
I will reconsider implementing it as a core feature.

[2017-03-15 06:22] jlkm2010 commented on #150
if can  scan all enum and auto config it with my custom general enumtypehandler ?
Maybe I should solve the problem myself.  This question is very special. Thanks!

[2017-03-15 07:49] jlkm2010 commented on #150
@harawata You're right, This feature is important to me. Thanks!

[2017-03-15 18:43] kazuki43zoo commented on #150
Thanks @harawata !
Probably, I understand this.

[2017-03-15 18:47] kazuki43zoo commented on #150
Hi @jlkm2010,
I've closed this because this feature request seems belong the MyBatis core.
Please move this issue to the MyBatis core.

Thanks for your contribution.

[2017-03-15 18:47] #150 closed

[2017-03-15 19:15] kazuki43zoo commented on #150
See https://github.com/mybatis/mybatis-3/pull/947#event-1001495489

[2017-03-22 10:03] insiston commented on #136
how to import other jar mapper xml？

[2017-03-22 17:44] kazuki43zoo commented on #136
What mean ?
And Please post a question on [Stack Overflow](https://stackoverflow.com/questions/ask?tags=mybatis) with  mybatis tag or [mybatis user forum](https://groups.google.com/forum/#!newtopic/mybatis-user).

[2017-03-29 02:02] kevindai007 commented on #78
@jacks808 thank you for your answer

[2017-03-30 15:59] ylyxf opened #153 "MybatisAutoConfiguration can't scan the outside package of the class annotationed by @SpringBootApplication"
I have three classes ,the App can only find Mapper where his self package .
MybatisAutoConfiguration's  line 179:
`AutoConfigurationPackages.get(this.beanFactory)` only return the package where the App is .
when run the App,it tell's me  :

com.test.mapper.ComTestMapper:

<pre><code>package com.test.mapper;

import org.apache.ibatis.annotations.Mapper;

@Mapper
public interface ComTestMapper {

}<

[2017-03-30 17:09] kazuki43zoo commented on #153
I think this behavior is working as design. If you want to scan mappers that belong outside packages of spring boot application, you can use the `@MapperScan`.

[2017-04-04 16:21] kazuki43zoo opened #154 "Upgrade to MyBatis 3.4.4"

[2017-04-07 20:51] kazuki43zoo commented on #154
Does not work on Java 7 ...

https://travis-ci.org/kazuki43zoo/mybatis-spring-boot/builds/219814065

[2017-04-08 02:09] fengzidaikun opened #155 "Can not find mapping"
I would like to refer to the official example to build a springboot-mybatis project,I joined mybatis-spring-boot-starter to help me configure the basics,But When my code is the same as the official example,My code can not find the mapping

[2017-04-08 02:11] fengzidaikun commented on #155
[Uploading springboot-mybatis.ZIP…]()

[2017-04-08 03:40] kazuki43zoo commented on #155
@fengzidaikun
Please post a your question to the [mailing list](https://groups.google.com/forum/#!forum/mybatis-user) or [Stackoverflow](https://stackoverflow.com/questions/ask?tags=mybatis).
A GiHub issue manages only a bug report and a feature request.

And ... I think  your explanation is not enough. Please provide more detail explanation and simple reproduce project.

Thanks.

[2017-04-08 04:00] fengzidaikun commented on #155
[springboot.txt](https://github.com/mybatis/spring-boot-starter/files/907213/springboot.txt)
Please change the suffix to .rar  ,Where the success folder is based on the official example of the reduced project

[2017-04-08 04:02] fengzidaikun commented on #155
@kazuki43zoo

[2017-04-08 04:19] #154 closed

[2017-04-08 04:22] kazuki43zoo commented on #154
I've upgrade to 3.4.4 instead of 3.4.3 because 3.4.3 has problem that does not work on Java 7 or before.

[2017-04-08 06:55] kazuki43zoo commented on #155
Please move `HotelMapper.xml`  to `src/main/resource/twobug/fiction/mapper` directory as follow:

[code]

Please post a your question to the [mailing list](https://groups.google.com/forum/#!forum/mybatis-user) or [Stackoverflow](https://stackoverflow.com/questions/ask?tags=mybatis) at next time.

Thanks.

[2017-04-08 06:55] #155 closed

[2017-04-09 07:03] shouzheng opened #156 "Spring Transaction Management not working with Spring Boot + MyBatis?"
[Spring Transaction Management not working with Spring Boot + MyBatis?](http://stackoverflow.com/questions/37310550/spring-transaction-management-not-working-with-spring-boot-mybatis)

It's work on the class but not on the method.

[2017-04-09 18:14] kazuki43zoo opened #158 "Coveralls is failing"
I found coveralls failing. Cause is duplicate class name with different modules. This error included via gh-147.

[code]
### Possible solution

Change class name of `SampleMybatisApplication` as follow:

* `SampleAnnotationApplication` in `mybatis-spring-boot-sample-annotation`
* `SampleXmlApplication` in `mybatis-spring-boot-sample-xml`

[2017-04-09 19:25] #158 closed

[2017-04-10 16:51] kazuki43zoo commented on #156
The Spring Transaction Management with Spring Boot + Mybatis is working fine.
If you think a bug, please provide more informations(detail conditions, expected behavior, actual behavior, minimum reproduce project ).

Note:
I've commented at http://stackoverflow.com/questions/37310550/spring-transaction-management-not-working-with-spring-boot-mybatis/43328596#43328596

I've closed this, but you can

[2017-04-10 16:51] #156 closed

[2017-04-11 16:29] kazuki43zoo opened #159 "Supports input completion for Configuration#defaultScriptingLanguage"
I will add the `src/resources/META-INF/additional-spring-configuration-metadata.json` as follow:

[code]

[2017-04-11 17:56] #159 closed

[2017-04-12 14:24] kazuki43zoo commented on #136
I've created the "[Quick Start](https://github.com/mybatis/spring-boot-starter/wiki/Quick-Start)" on GitHub wiki page.

[2017-04-12 14:32] #136 closed

[2017-04-13 15:08] cinabro88 opened #160 "custom enum typehandler is not working."
I want to use custom typehandler for write and read my enum.

for example
[code]

When I write CARD(enum value) to database,  I wanna code "1" is written.

this is my typehandler

[code]
and my config.yml
[code]

but my typehandler isn't called.

What's a problem??

[2017-04-13 15:17] cinabro88 commented on #160
I use org.mybatis.spring.boot:mybatis-spring-boot-starter:1.2.0

[2017-04-13 15:25] kazuki43zoo commented on #160
Probably, a property key is invalid. Please try changing as follow:

[code]

And please post a question to [mailing list](https://groups.google.com/forum/#!forum/mybatis-user) at the next time. We manage only a bug report and a feature request on GitHub Issue.

[2017-04-14 16:55] kazuki43zoo commented on #160
I've closed this. If you cannot resolve this issue, you can reopen this issue always.

[2017-04-14 16:55] #160 closed

[2017-04-15 00:23] kazuki43zoo commented on #153
I've closed because no feedback. If you can reopen always.

[2017-04-15 00:23] #153 closed

[2017-04-15 08:31] cinabro88 commented on #160
@kazuki43zoo Thank you very much!!! :) It work's fine~!~!~! hahaha

[2017-04-17 22:28] kazuki43zoo opened #161 "Change to use AssertJ"
See mybatis/mybatis-3#977

[2017-04-17 22:39] #161 closed

[2017-04-22 05:20] kazuki43zoo opened #163 "Check compatibility for Spring Boot 2.0 using Travis CI"
I've created branch for CI in my account.

* https://github.com/kazuki43zoo/mybatis-spring-boot/tree/ci-spring-boot-2
* https://travis-ci.org/kazuki43zoo/mybatis-spring-boot/builds

[2017-04-23 02:56] mnesarco commented on #46
Hi @emacarron I didn't know about this Mapper annotation in advance so I have added one in CDI some time ago just before 1.0 release. Do you think we have to remove the cdi specific annotation and use just this?

[2017-04-28 03:04] aisensiy opened #164 "@MyBatisTest does not work"
Use the new `org.mybatis.spring.boot:mybatis-spring-boot-starter-test:1.3.0` but the `@MyBatisTest` annotation does not exists...

[code]

[code]

[2017-04-28 04:13] kazuki43zoo commented on #164
@aisensiy  Could you provide a reproduce project ?
My sample application that build using the Maven is working fine.

[2017-04-28 05:34] aisensiy commented on #164
[https://github.com/aisensiy/demo-for-springboot-mybatis](https://github.com/aisensiy/demo-for-springboot-mybatis) I created a new repository for the demo project.

[2017-04-28 05:42] kazuki43zoo commented on #164
@aisensiy Thanks for feedback. I will try it at later.

[2017-04-28 05:44] kazuki43zoo commented on #164
@aisensiy Is happen this issue in gradle build ? Is it only IDE build ?

[2017-04-28 06:07] aisensiy commented on #164
Both, it said 'can not find Symbol `MybatisTest`'. Am I wrong for gradle dependency declare?

[2017-04-28 09:14] aisensiy commented on #164
@kazuki43zoo Any idea about that?

[2017-04-28 18:47] kazuki43zoo commented on #164
please adding `import org.mybatis.spring.boot.test.autoconfigure.MybatisTest;` .... at `MyBatisRepositoryTest`. and change to `@Import(MyBatisUserRepository.class)` instead of `@Import(UserRepository.class)`.

[2017-04-28 18:47] #164 closed

[2017-04-28 18:50] kazuki43zoo commented on #164
@aisensiy

Please post your question to the [mailing list](https://groups.google.com/forum/#!forum/mybatis-user) from next time.

Thanks.

[2017-05-10 09:58] seven-new-guy opened #166 "Parameter 0 of constructor in SampleMybatisApplication required a bean of type ' *' that could not be found."
As describled in [Documentation](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/).

Here is my code:

**Mapper**
[code]

[code]

---

[code]

**error message**

[code]

[2017-05-10 11:24] sberyozkin opened #167 "Improve generated Apache CXF JAX-RS starter demo"
Hi, I'd like to propose adding a simple JAX-RS service bean which will be auto-discovered and a test code which invokes on service bean. I'll attach the proposed content soon

[2017-05-10 11:25] #167 closed

[2017-05-10 11:26] sberyozkin commented on #167
Sorry, my mistake

[2017-05-10 17:21] kazuki43zoo commented on #166
@seven-new-guy Could you provide a reproduce project on GitHug ?

[2017-05-11 01:45] cinabro88 opened #168 "When I run application by jar, Typehandler is not working. (I use multiple datasource)"
I can't understand this situation. Plz help me... :(

My application use multiple datasource configured by java.

When I run appllication on intellij, It works fine.
But run by jar, typehandler is not working.

Please give me some hint...

This is my config code.

[code]

[code]

[2017-05-11 02:26] kazuki43zoo commented on #168
Probably, you can resolve this issue by set the `SpringBootVFS` class to a `SqlSessionFactoryBean` instance like [this](https://github.com/mybatis/spring-boot-starter/blob/d1b1a2d319d4c0242b54af4ac4455886b6ddc7ad/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.java#L120).

And.. please post a you question to the [mailing list](https://

[2017-05-11 02:26] #168 closed

[2017-05-11 04:10] seven-new-guy commented on #166
@kazuki43zoo thanks for replying:) I fixed this problem by move  ` SampleMybatisApplication.java'  to root directory.

[2017-05-11 04:10] #166 closed

[2017-05-11 04:24] cinabro88 commented on #168
@kazuki43zoo Thanks a lot. 👍 👍 👍 👍 👍

[2017-05-24 08:29] walkwolf opened #170 "About the mybatis.configuration.map-underscore-to-camel-case"
I use Spring Boot 1.5.3.RELEASE and mybatis/spring-boot-starter 1.3.0 .
Config ```mybatis.configuration.map-underscore-to-camel-case=true``` in my application.properties.
In any case true or false, I get the same result, ineffectively.
What exactly mean of the ```mybatis.configuration.map-underscore-to-camel-case``` ?

## Mapper
[code]

## Controller
[code]
## Log
[code]

## Table
[code]

## Outpu

[2017-05-24 16:49] kazuki43zoo commented on #170
See explanation of `mapUnderscoreToCamelCase ` in http://www.mybatis.org/mybatis-3/configuration.html.

If you set `mybatis.configuration.map-underscore-to-camel-case=false`,  test2 return response as follow:

[code]

And.. please post a you question to the [mailing list](https://groups.google.com/forum/#!forum/mybatis-user) from next time. We use the GitHub issue to manage bug tracking and featur

[2017-05-24 16:49] #170 closed

[2017-06-11 04:14] kazuki43zoo opened #171 "Update to Spring Boot 1.5.4.RELEASE"

[2017-06-11 04:16] kazuki43zoo opened #172 "Update Spring Boot 1.4.7.RELEASE on 1.2.x"

[2017-06-11 04:23] #171 closed

[2017-06-11 04:29] #172 closed

[2017-06-12 00:33] kazuki43zoo opened #173 "Drop workaround for gh-127"
It is already fixed on [parent project](https://github.com/mybatis/parent/pull/79).

see gh-127.

[2017-06-13 11:06] #173 closed

[2017-06-14 00:02] kazuki43zoo opened #174 "Upgrade to MyBatis 3.4.5"
Note: 3.4.5 does not released yet.

[2017-06-14 00:05] kazuki43zoo opened #175 "Supports input completion for Configuration#defaultEnumTypeHandler on IDE"
`Configuration#defaultEnumTypeHandler` will add at MyBatis 3.4.5.

See #159 and #174 .

[2017-07-13 02:34] PKUliwp opened #177 "java config SqlSessionFactoryBean.setTypeHandlersPackage() doesn't work in jar"
Hi,

I meet a type handler problem when I use java configuration to create a SqlSessionFactory bean. When I use method SqlSessionFactoryBean.setTypeHandlersPackage() to register my handler, my handler doesn't work in my jar(It works in Intellij run). But when I use method register() instead, It backs to normal. I'm sure that I use the right package reference. I think there is something wrong in th

[2017-07-13 02:36] kazuki43zoo commented on #177
@PKUliwp

Could you provide a reproduce project on GitHub ?

[2017-07-13 02:51] PKUliwp commented on #177
I create a simple project and it has the same problem. You can find it from https://github.com/PKUliwp/mybatis-toy

[2017-07-13 02:53] kazuki43zoo commented on #177
@PKUliwp Thank you !!

[2017-07-13 03:32] kazuki43zoo commented on #177
You can resolve this issue by adding `SpringBootVFS` as follow:

[code]

Note: This issue fixed via #21.

Thanks.

[2017-07-13 03:46] PKUliwp commented on #177
It works, thanks!

[2017-07-13 04:36] #177 closed

[2017-07-13 13:06] kazuki43zoo commented on #177
Hi @PKUliwp ,

I will advice to use auto-configuration feature provide by mybatis-spring-boot-starter.

Please perform following steps.

1. Remove the `BeanFactory.java`
2. Add the `@org.apache.ibatis.annotations.Mapper` instead of `@Component` on `EntityMapper.java`

[code]
3. Add following properties on `application.properties`.

[code]

You can run the mybatis application on spring-boot!
Let's

[2017-07-14 08:54] PKUliwp commented on #177
Great!
I'll try it, thanks!

[2017-07-21 09:52] ELLIEbleu commented on #106
@fwz  @kazuki43zoo
I use spring boot with mybatis , in applicationContext.xml ，I  create bean: SqlSessionFactoryBean , MapperScannerConfigurer ,but when my project  is running ,it occurs a error about "org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'sqlSessionFactory' defined in class path resource [org/mybatis/spring/boot/autoconfigure/MybatisAutoConfigurat

[2017-07-21 10:14] ELLIEbleu commented on #106
I try use @Mapper in interface mapper, but  also occurs another problem  "org.apache.ibatis.binding.BindingException: Invalid bound statement (not found):". I guess it may be cannot found mapper.xml .but  I don't know how to slove this problem.

[2017-07-21 12:06] kazuki43zoo commented on #106
@ELLIEbleu

Probably, the version of MyBatis that you are using is old.
Could you provide a reproduce project via GitHub ?

[2017-07-24 02:02] ELLIEbleu commented on #106
@kazuki43zoo  you can clone from 'https://github.com/ELLIEbleu/Test.git' . this is my project .
The structure of  table  't_nginx_group '  as follow picture.
![image](https://user-images.githubusercontent.com/13954035/28505511-33a0436a-7057-11e7-97fe-4343cfbeec8c.png)

[2017-07-24 03:20] ELLIEbleu commented on #106
@kazuki43zoo  I find the reason. spring boot  cannot
Automatically loaded  'applicationContext.xml', so that  bean cannot be created. I added  @ImportResource(locations = "classpath:spring/applicationContext.xml")  in SmpleApplication.class . lt  well down now.

[2017-07-26 12:53] kazuki43zoo opened #178 "Upgrade to Spring Boot 1.5.5.RELEASE"

[2017-07-26 13:16] #178 closed

[2017-07-27 02:21] yizhiwazi opened #179 "mybatis mapper scan in springboot"
Hower I can't connect the website .
https://groups.google.com/group/mybatis-user

mybatis mapper scan in springboot only can use @mapperscan in the starter of Application . Or use @Mapper in MapperInterface one by one.

**## How can I specified the location of mapper-interface in springboot application.properties ?**

springboot :
mybatis:
mapper-locations: classpath:mapper/*.xml
mapper-interface-

[2017-07-27 02:55] kazuki43zoo commented on #179
Currently, you cannot specify mapper locations using `application.properties`. Please use `@MapperScan` if you need to specify mapper localtions.
There is no plan to support definition that used `application.properties` at the moment.

Contributing is welcome !!

Thanks.

[2017-07-27 04:42] ZuiSong opened #180 "I can not config my interceptors in application.yml"
[code]
`
***************************
APPLICATION FAILED TO START
***************************

Description:

Binding to target org.mybatis.spring.boot.autoconfigure.MybatisProperties@545e57d7 failed:

    Property: mybatis.configuration.interceptors[0]
    Value: cn.mmooo.SqlExplainInterceptor
    Reason: Failed to convert property value of type 'java.lang.String' to required type 'org.apache.ibati

[2017-07-27 05:55] kazuki43zoo commented on #180
In current implementation, you cannot apply custom `Interceptor` using `application.properties`(`application.yml`).

**Note: This is a known limitation.**

Instead of it, you can apply a custom `Interceptor` using [interceptor auto-detection feature(see Detecting MyBatis components)](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/#Detecting_MyBatis_components) provide

[2017-07-27 16:39] kazuki43zoo opened #181 "Upgrade to Spring Boot 1.5.6.RELEASE"

[2017-07-29 15:54] #181 closed

[2017-08-04 18:05] kazuki43zoo commented on #179
@yizhiwazi I've close this issue. You can reopen this issue always.

[2017-08-04 18:05] #179 closed

[2017-08-04 18:07] kazuki43zoo commented on #180
@ZuiSong I've closed this issue, however you can reopen this issue always.

[2017-08-04 18:07] #180 closed

[2017-08-07 02:34] dong6708 commented on #180
hello,Did you solve it

[2017-08-15 08:43] wuhongsheng opened #182 "import my project has a warning"
<img width="1231" alt="2017-08-15 4 42 00" src="https://user-images.githubusercontent.com/10295461/29308525-c759f33e-81d8-11e7-8ab3-a2f58c03aa45.png">

[2017-08-15 10:37] kazuki43zoo commented on #182
@wuhongsheng Could you provide more detail information and reproduce project on GitHub ?

I have a one question.
Have you added "Sonatype OSS Snapshots Repository" in your build settings. If you want to a snapshot version, you should add it on your build settings.

See https://github.com/mybatis/mybatis-3/wiki/Maven#snapshot

[2017-08-15 10:55] kazuki43zoo commented on #182
Hi @wuhongsheng , Probably this issue can resolve to add a following setting on your `build.gradle`.

[code]

[2017-08-15 11:11] kazuki43zoo commented on #182
I've closed this issue. If you cannot resolve this issue, please re-open this.

[2017-08-15 11:11] #182 closed

[2017-08-20 08:41] #163 closed

[2017-08-20 10:46] kazuki43zoo opened #183 "Upgrade to mybatis-spring 2.0.0-SNAPSHOT on master"

[2017-08-20 10:47] #174 closed

[2017-08-20 11:59] #175 closed

[2017-08-20 13:13] kazuki43zoo opened #184 "Drop deprecated APIs on master(2.0.0)"
I will suggest dropping deprecated APIs.

* `MybatisProperties#getConfig`
* `MybatisProperties#setConfig`

Thanks.

[2017-08-23 07:08] wwm0104 opened #185 "为什么在使用mybatis.mapperLocations时 不能使用classpath*:mapper/*.xml"
现在使用功能mybatis.mapperLocations时如果有多个的话  添加有点麻烦
能不能使用mybatis.mapperLocations=classpath*:mapper/*.xml

[2017-08-23 08:46] #185 closed

[2017-08-23 17:20] rakeshdasari commented on #105
Team, to use this property shall I give in my appliation.properties?
spring.datasource.tomcat.test-on-borrow=true
or
spring.datasource.test-on-borrow=true

will it work if I am not using connection pool?

[2017-08-24 13:08] kazuki43zoo commented on #105
Yes.
Note: The property key is different depending on spring-boot version or connection pool library.

Sorry, I can not understand intention of your question :(

[2017-08-27 16:35] j2eegis opened #186 "Why config-location does not recognize classpath* configuration?"
I packed the Mapper separately, introduced in the web module, but started the error.

.
 configuring config-location as classpath*: mapper/*xml

 `mybatis:`
 &nbsp; &nbsp; &nbsp;` config-location:`
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;`classpath*:mapper/*.xml`,
 but not identifying the classpath*, and how to load the XML in the jar package?

[2017-08-27 16:52] eddumelendez commented on #186
@j2eegis the right configuration is below

[code]

Seems like you are using the wrong property for mappers.

[2017-08-28 06:53] j2eegis commented on #186
@eddumelendez You're right. Thank you very much

[2017-08-28 06:53] #186 closed

[2017-08-29 00:03] #184 closed

[2017-09-11 03:43] Davaasurenx opened #187 "mybatis-spring-boot-starter support oracle?"
used xml mapper. Oracle db.
not return value of column "id". return value is 1.
when use useGeneratedKeys="true", insert is not working.
how get id or value of last inserted data?
<insert id="insert" parameterType="User" keyColumn="id" keyProperty="id" parameterMap="parameters" useGeneratedKeys="true">

[2017-09-11 15:30] kazuki43zoo commented on #187
Hi @Davaasurenx,

I've closed this issue because it is belonging with mybatis core.
And please post your question to [the mailing list](https://groups.google.com/forum/#!forum/mybatis-user) instead of the github issue.

Note: I suggest to provide a small reproduce project via GitHub repository.

[2017-09-11 15:30] #187 closed

[2017-09-11 15:39] #183 closed

[2017-09-12 02:50] Davaasurenx commented on #187
Thank You

On Mon, Sep 11, 2017 at 8:30 AM, Kazuki Shimizu <notifications@github.com>
wrote:

[2017-09-16 15:58] kazuki43zoo opened #188 "Upgrade to Spring Boot 1.5.7.RELEASE on 1.3.x"

[2017-09-16 22:51] gituser786 commented on #38
I am using spring boot version 1.5.4 along with spring-mybatis 1.3.0. mybatis-spring-boot-starter 1.3.0
I am getting same error when I execute as a jar file. But in eclipse I don't get any error. Please help to solve this issue --Nizam

[2017-09-16 23:37] gituser786 opened #278 "Spring Boot & mybatis-spring -org.apache.ibatis.type.TypeException: Could not resolve type alias"
I am using spring boot 1.5.4 & mybatis-spring 1.3.0 along with mybatis-spring-boot-starter.  Whenever I am running my standalone application via eclipse I am able to run. when I run the executable jar file in command line, I am getting below error.
Error creating bean with name 'classNameMapper' defined in class path resource [mybatis-context.xml]: Cannot resolve reference to bean 'sqlSessionFacto

[2017-09-17 04:10] kazuki43zoo commented on #38
@gituser786 Could you provide a small reproduce project via GitHub repository?

[2017-09-22 07:39] nuttycat opened #189 "Does @Mapper support a value attribute to specify the bean name?"
When I have two dao with the same name in different package,I get a bean name conflict .
I can use the @Component annotation to specify the name to avoid this confict.
Could @Mapper annotation support  a value attribute  to specify the bean name in the future?

[2017-09-28 08:12] onacit commented on #188
Is there any way to solve this until `1.3.2`? I'm new to Gradle, anyway. Thanks.

[2017-09-28 11:41] #188 closed

[2017-09-28 11:42] kazuki43zoo commented on #188
Hi @onacit

We don't have a plan to release the 1.3.2 yet. But I believe 1.3.1 work fine on Spring Boot 1.5.7.
Let's play it :)

[2017-09-28 11:43] kazuki43zoo opened #191 "Upgrade to Spring Boot 2.0.0.M4"

[2017-09-28 11:59] #191 closed

[2017-09-29 01:06] onacit commented on #188
I'm sorry it seems off-topic.

I added `org.mybatis.spring.boot:mybatis-spring-boot-starter` into my existing spring-boot-starter-web and I got this.

[code]

And I got this.

[code]

Is there anything that I can do?

[2017-09-29 13:23] h3adache commented on #188
Hi @onacit can you get the actual error message?
This is my gradle dependencies and it's working fine.

[code]

[2017-10-06 02:42] kazuki43zoo commented on #189
Hi @nuttycat,  We have no plan to add the attribute that specifies the bean name because `@Mapper` has belonged in mybatis core module.

I think this is work as the design for us.
If you need this feature strongly, I suggest creating an issue to the mybatis-spring project rather than this project.

Note:
By default, the mybatis generate a bean name using [`AnnotationBeanNameGenerator`](https://doc

[2017-10-09 09:53] nuttycat commented on #189
Thanks,get a lot of ideas from this reply.

[2017-10-09 09:53] #189 closed

[2017-10-11 15:24] #128 closed

[2017-10-12 15:04] kazuki43zoo opened #193 "Upgrade to Spring Boot 2.0.0.M5 on master"
### Related Issues

* spring-projects/spring-boot#10702

[2017-10-17 11:59] swachian commented on #193
[code]

It's really an issue ：（

[2017-10-17 13:20] kazuki43zoo commented on #193
Hi @swachian, I cannot reproduce your issue. Could you provide more detail information (providing reproduce project is very good!!)

[2017-10-18 02:45] swachian commented on #193
It's ok when run in an application. However, it is wrong if I package the project in a war and deploy to tomcat 8.5.

It went wrong at the step below
[code]

[2017-10-18 03:19] kazuki43zoo commented on #193
@swachian Could you provide a reproduce project on GitHub?

[2017-10-18 03:22] kazuki43zoo commented on #193
@shroman And... Has occurred this issue only on Spring Boot 2.0.0.M5 or not?

[2017-10-18 03:23] kazuki43zoo commented on #193
I've reopened this issue to investigate the report from @swachian.

[2017-10-18 05:39] swachian commented on #193
Only on Spring Boot 2.0.0.M5 .
It's fine even on 2.0.0.M4.
I'll try to make a reproduce project.

[2017-10-18 07:37] swachian commented on #193
I push a reproduce project to https://github.com/swachian/springboot2.0.0.m5-wrong-with-mybatis.git

I made a deployable war as https://docs.spring.io/spring-boot/docs/2.0.0.M5/reference/html/howto-traditional-deployment.html said. It still run regularly as an application.
[code]

But get the error list when deploy the war to Tomcat 8.5.23

[code]

[2017-10-18 07:53] kazuki43zoo commented on #193
Hi @swachian , thanks for providing reproduce project. I will check at later (out of business time!)

[2017-10-19 22:30] kazuki43zoo commented on #193
I've created spring-projects/spring-boot#10702.
The root cause has not been found yet.

[2017-10-19 22:57] kazuki43zoo commented on #193
Current status: Under waiting for feedback from spring boot team and investigating.

[2017-10-20 05:46] jibin-tj commented on #22
Thanks boston

[2017-10-21 03:42] kazuki43zoo commented on #193
Hi @shroman, I found a temporary workaround for this issue.
See https://github.com/spring-projects/spring-boot/issues/10702#issuecomment-338361007.

[2017-10-22 14:29] kazuki43zoo opened #194 "Update Java 8 on master"
MyBatis Spring Boot 2.0.0 depend on Spring Boot 2.0.0 and MyBatis Spring 2.0.0. These artifacts are needing Java 8. Therefore I update Java version to 1.8.

[2017-10-25 19:39] #194 closed

[2017-10-27 17:34] kazuki43zoo opened #196 "StackOverflowError when deploying war file with Spring Boot 2.0.0.M5"
See

* spring-projects/spring-boot#10702
* #193
* mybatis/mybatis-3#1119

[2017-10-27 17:37] kazuki43zoo commented on #193
I've closed this.
The StackOverflowError issue manages on #196

[2017-10-27 17:37] #193 closed

[2017-10-28 00:30] kazuki43zoo opened #197 "Support JDK9 on Travis CI"

[2017-10-28 02:00] kazuki43zoo opened #199 "Upgrade to Spring Boot 1.5.8 on 1.3.x"

[2017-11-01 13:51] #199 closed

[2017-11-01 15:17] guoshimeihua opened #200 "Column is null, not return the column"
I am querying a list, some columns is null, these columns not return? I have added the setting:

# mybatis setting
mybatis.configuration.cache-enabled=true
mybatis.configuration.jdbc-type-for-null=null
mybatis.configuration.call-setters-on-nulls=true

the call-setters-on-nulls not work, how to sovle the promble?

[2017-11-02 13:33] kazuki43zoo commented on #200
Could you provide more details information and reproduce project(including a test case is good) on GitHub?

[2017-11-03 01:53] TracyBin commented on #38
I encountered the same problem
[code]

[code]
[code]

[2017-11-03 01:58] kazuki43zoo commented on #38
Hi @TracyBin , please set the `SpringBootVFS` to an `SqlSessionFactoryBean` instance as follow:

https://github.com/mybatis/spring-boot-starter/blob/a92ba00d578221acb7dd01ef7a7e5fa25456d467/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.java#L118-L120

[2017-11-03 02:28] kazuki43zoo opened #201 "Add documentation for SpringBootVFS"
I feel good adding documentation for SpringBootVFS. It needs to set when executable jar/war is used without auto-configure feature.

### Related Issues

* #38

[2017-11-03 06:12] TracyBin commented on #38
@kazuki43zoo , Yes,the problem is solved.Thanks for your reply.

[2017-11-06 14:39] kazuki43zoo opened #202 "Upgrade to Spring Boot 2.0.0.M6"
### Related Issues
* #196

[2017-11-06 15:28] #202 closed

[2017-11-06 15:33] kazuki43zoo commented on #196
fixed via #202

[2017-11-06 15:33] #196 closed

[2017-11-06 15:38] kazuki43zoo commented on #196
Hi @swachian , I've published the mybatis-spring-boot-starter 2.0.0-SNAPSHOT that based on Spring Boot 2.0.0.M6.
Could you try it?

[2017-11-06 16:02] #197 closed

[2017-11-06 16:08] kazuki43zoo opened #203 "Updating reference document for 2.0.0"
* Update requirement to MyBatis Spring 2.0
* Update requirement to Spring Boot 2.0 (Spring Framework 5.0+)
* Update requirement to Java 8+
* etc ...

[2017-11-07 05:15] guoshimeihua commented on #200
thanks, I have solved this problem. this setting is working.

[2017-11-07 06:42] #200 closed

[2017-11-13 12:59] rafaelduqueestrada opened #204 "Unsupported major.minor version 52.0"
I don't use jdk 8 in my project.
When I run the project, the following error happend:

[ERROR] java.lang.UnsupportedClassVersionError: org/mybatis/spring/boot/test/autoconfigure/MybatisTest : Unsupported major.minor version 52.0

I looked in a documentation and didn't see nothing about this version only runs with jdk 8.

I would like to use the MyBatisTest annotation, this annotation will turn my

[2017-11-13 13:16] kazuki43zoo commented on #204
Which version are you using?

[code]

If you use 2.0.0-SNAPSHOT, it requires Java 8+.

[2017-11-13 13:39] kazuki43zoo commented on #204
1.3.1 supports Java 6+ (java class version: 50).

[2017-11-13 13:46] rafaelduqueestrada commented on #204
Thanks guys,
but unhappily in version 1.3.1 there isn't a MybatisTest.java.

[2017-11-13 13:51] kazuki43zoo commented on #204
??

The `@MybatisTest` has been added 1.2.1.
Please confirm again.

[2017-11-13 16:27] rafaelduqueestrada commented on #204
Aff, I didn't know that.
Thanks and sorry guys, works with version 1.3.1.

[2017-11-13 16:27] #204 closed

[2017-11-15 11:08] kakabean opened #205 "Duplicated mapper config cause initial failed"
### Env:
SpringBoot 1.5.8-release + JDK1.8-144 + mybatis-spring-boot 1.3.1

### Project:
There are two modules( **m1**, **m2**) in project **A**,
"**m1**" is build and installed as a jar file, it defines xxxMapper.xml files under path _m1/src/main/resources/mapper_, m1 is test passed with db CRUD.
"**m2**" is referred to **m1**, when to do test, it shows errors as
[code]

### my config as below:
*

[2017-11-18 01:02] #201 closed

[2017-11-18 01:05] kazuki43zoo commented on #38
Hi @TracyBin , I've added an explanation for this. See 5c77a8e047b643df8c88f20aa5d993d64cc275dd.
Thanks.

[2017-11-20 04:34] googlefan commented on #78
@phengtola EsbEnabledCondition.class is empty annotation class, here is the code:public @interface UseDatasourceESB { }
--
are you sure?
EsbEnabledCondition   is same with  annotation interfcae UseDatasourceESB?
It's confuse me.

[2017-11-20 04:50] jacks808 commented on #78
@googlefan EsbEnabledCondition is a condition impl class use for check wether the esb datasource enable. It's non business with the dual datasources.
here is the `EsbEnabledCondition` :

[2017-11-20 05:47] googlefan commented on #78
@jacks808  yeah ! Thank you . It works.

[2017-11-20 07:02] jacks808 commented on #78
@googlefan That my pleasure

[2017-11-20 16:15] kazuki43zoo commented on #205
Hi @kakabean, Thanks for your reporting. However, I think this issue belongs into mybatis or/and mybatis-spring instead of mybatis-spring-boot.
Could you move this issue to mybatis or/and mybatis-spring?

[2017-11-21 23:41] kakabean commented on #205
got it, thanks

On Tue, Nov 21, 2017 at 12:15 AM Kazuki Shimizu <notifications@github.com>
wrote:

--
祝 好

张辉
-------------------------------------------------
其实，我是一个程序员

[2017-11-22 12:53] kazuki43zoo commented on #205
I've closed because this will move to mybatis core or/and mybatis-spring by @kakabean .

[2017-11-22 12:53] #205 closed

[2017-11-24 03:24] ZuiSong commented on #180
@dong6708  I solved it just like @kazuki43zoo writed. Create a bean that mybatis would auto add it to interceptors

[2017-11-24 14:00] #203 closed

[2017-11-24 14:02] kazuki43zoo opened #206 "Upgrade to mybatis-spring 2.0 GA"

[2017-11-24 14:02] kazuki43zoo opened #207 "Upgrade to spring-boot 2.0 GA"

[2017-11-24 16:11] kazuki43zoo opened #208 "Enable auto-configure when DataSource is single candidate"
In the current implementation, an error occurs when defines multiple `DataSource`.
I suggest to change using `@ConditionalOnSingleCandidate` instead of `@ConditionalOnBean`.
This change applied already on auto-configuration classes provided by Spring Boot.

[2017-11-30 14:35] kazuki43zoo opened #209 "Upgrade to Spring Boot 2.0.0.M7"

[2017-11-30 14:36] kazuki43zoo opened #210 "Upgrade to Spring Boot 1.5.9 on 1.3.x"

[2017-11-30 15:00] #209 closed

[2017-11-30 15:26] #210 closed

[2017-12-04 12:06] kazuki43zoo opened #212 "Upgrade to MyBatis 3.4.6"

[2017-12-04 12:07] kazuki43zoo opened #213 "Upgrade to MyBatis Spring 1.3.2 on 1.3.x"

[2018-01-14 10:20] libbylg opened #215 "Can we add a parameter for @Mapper to specify the mapping file?"
Hi,

Some times, it is not a good idea to put the sql in the java file.
There is an example:
[code]
Did you see the DESC ? I have to escape the  `"` for MySQL, that beacuse the `DESC` is the key word.
So, any place I used the DESC, I have to escaped it . That is why I like put then in the mapping xml files, so I do not need the `\"`.

when I use the mybatis-spring-boot-starter,  it can scan the @M

[2018-01-14 11:05] kazuki43zoo commented on #215
You can scan a mapper file automatically by saving it in the same package structure as Mapper interface.

e.g.)

Mapper interface :
src/main/java/com/example/dao/MyDao.java

Mapper xml file :
src/main/resources/com/example/dao/MyDao.xml

Please try it.
Thanks.

[2018-01-14 11:14] kazuki43zoo commented on #215
And you can also scan mapper files expressly using `mybatis.mapper-locations` property.

e.g.) application.properties

[code]

[2018-01-14 11:25] hcxin commented on #215
We can use namespace property in *mapper.xml, like below:

Your mapper interface:
@Mapper
public interface UserMapper {

    User selectUserByName(String name);
}

Your mapper xml file :
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper **namespace="sample.mybatis.mapper.UserMapper"**>
    <select id="selectUserByNam

[2018-01-14 11:55] libbylg commented on #215
@kazuki43zoo The 'mybatis.mapper-locations' looks a good idea.

@hcxin I think the mybatis-spring-boot-start do not known where is the mapper xml.

[2018-01-15 00:28] libbylg commented on #215
hi,my friends,the 'mybatis.mapper-locations' is working.
Is that means I have to add this line in application.properties? Is there some way to remove it? I think give the user an optional to put the sql in Java file or xml is a good idea :)
Best wishes!

[2018-01-15 00:48] libbylg commented on #215
I think the locations of the mapping file is the Java-code but not a configurations which the user can change. So put them in Java file is naturally.

[2018-01-19 17:09] h3adache commented on #208
Hey @kazuki43zoo I'm working with a different version of MybatisProperties which allows multiple datasources by default. I think it's feature worth integrating into our project. What do you think? Is there a reason you can think of to not support multiple datasources out of the box?

[2018-02-08 14:16] kazuki43zoo commented on #215
'mybatis.mapper-locations' is not required.
I've already introduced a solution of rule base scaning a mapper xml file on https://github.com/mybatis/spring-boot-starter/issues/215#issuecomment-357503910  .

You need to specify a same namespace with FQCN of Mapper interface in mapper xml.

e.g.)

[code]

[2018-02-19 06:31] SpaceNet opened #217 "Getting Error : org.apache.ibatis.binding.BindingException: Invalid bound statement (not found)"
I'm getting this error. This error does not happen by running app on SpringToolSuite, but happens by running app with "gradle bootrun" on a console.

I uploaded my project on Github.
https://github.com/SpaceNet/MyBatis-error

    2018-02-19 15:15:31.051 ERROR 4819 --- [nio-9090-exec-1] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path

[2018-02-19 15:03] kazuki43zoo commented on #217
Please the `StockRepository.xml` move to under `src/main/resources/com/example/stock/domain/repository`.

[2018-02-19 15:03] #217 closed

[2018-02-20 11:03] SpaceNet opened #218 "java.lang.NullPointerException"
I'm making stock list app with spring boot 2.0.0, gradle 4.5, java 1.8 and MyBatis.
But I got  java.lang.NullPointerException, what's wrong?

I uploaded my project on Github.
https://github.com/SpaceNet/MyBatis-error

    2018-02-20 19:59:47.622 ERROR 18886 --- [nio-9090-exec-2] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] thr

[2018-02-20 15:18] kazuki43zoo commented on #218
The MyBatis does not support the `Page` of spring-data-common on mapper method.
If you want to use the `Page` as return type of mapper method, I will suggest to define the default method as follow:

e.g.

* Repository (Mapper)

[code]

* Service

[code]

* Mappr XML

[code]

[2018-02-20 16:18] #218 closed

[2018-02-21 03:05] SpaceNet commented on #218
It works, thank you very much.

[2018-02-21 15:01] kazuki43zoo opened #219 "Upgrade to Spring Boot 2.0.0.RC2"

[2018-02-21 15:08] #219 closed

[2018-02-21 15:12] kazuki43zoo opened #220 "Upgrade to Spring Boot 1.5.10 on 1.3.x"

[2018-02-21 15:14] #220 closed

[2018-02-22 01:34] iver3on commented on #106
Error creating bean with name 'sqlSessionFactory' defined in class path resource [org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.class]: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.apache.ibatis.session.SqlSessionFactory]: Factory method 'sqlSessionFactory' threw exception; nested

[2018-02-22 15:39] kazuki43zoo commented on #106
@iver3on Please provide more information. And Please create a new issue because this issue already closed.
Thanks.

[2018-02-27 22:23] UrsVela commented on #78
Thanks @jacks808 - The solution worked perfectly.

[2018-03-01 13:02] #207 closed

[2018-03-07 22:06] plavreshin commented on #206
Hi @kazuki43zoo @eddumelendez ,

could you please shed some light on spring boot 2.0 support, as I see you have already commited this
https://github.com/mybatis/spring-boot-starter/commit/8016d04cce4caf27c0b2d9f97c1bbd58e61c3b30 but not yet released. Are there any known caveats?

[2018-03-12 12:31] #212 closed

[2018-03-14 15:47] #213 closed

[2018-03-14 19:15] berniegp commented on #206
Spring Boot 2.0 is now released

[2018-03-14 19:25] kazuki43zoo commented on #206
We are a discussion about releasing mybatis-spring 2.0 & mybatis-spring-boot 2.0 at now.

Note: I believe the mybatis-spring-boot 1.3.x line work fine on Spring Boot 2.0.

[2018-03-14 19:32] berniegp commented on #206
Is this related at all to https://projects.spring.io/spring-data-jdbc ?

I see "Support for MyBatis queries." as a listed feature.

[2018-03-18 00:21] kazuki43zoo commented on #208
Hi @h3adache , Sorry for late replying.

The motivation of this issue is that a behavior matches with the Spring Boot when `DataSource` is not a single candidate. = At first, I will fix an error when defines multiple `DataSource`.

I think it is good feature!!
I am welcome to your contribution :D

[2018-03-18 01:04] #208 closed

[2018-03-18 01:07] kazuki43zoo commented on #208
@h3adache
I've fixed this.

Could you create a new issue for supporting multiple `DataSource`?

[2018-03-18 01:28] kazuki43zoo opened #221 "Drop snapshot repository settings for 2.0 GA"
Remove snapshot repository settings in `pom.xml` before releasing 2.0 GA.

[2018-03-18 01:37] kazuki43zoo commented on #215
Hi @libbylg ,

I've closed this issue because this issue does not belong the mybatis-spring-boot. If you need this feature, I propose to create a new feature request into mybatis core project.

Thanks.

[2018-03-18 01:37] #215 closed

[2018-03-29 03:04] 80904001 opened #223 "Error updating database. Cause: java.sql.SQLSyntaxErrorException: ORA-00933: SQL command not properly ended"
regarding the issue title, I've met the problem when I use Mybatis springboot starter, below is my configration:

[code]

in my Mapper.xml I've written SQL like this:

[code]

the error info and exception stack as below:

[code]

Is anyone who occurred the same error in this situation?
Thank you all in advance for giving me some solutions!

[2018-03-29 13:32] kazuki43zoo commented on #223
Could you execute your sql using pure JDBC (without MyBatis)?

[2018-03-29 13:52] 80904001 commented on #223
@kazuki43zoo  yeah, this problem was solved by adding useGeneratedKeys="false" in my mapper.xml of insert id="batchSave" section, thank you all the same.

[2018-03-29 13:52] #223 closed

[2018-04-02 14:54] marvin-min commented on #180
works for me .thanks.

[2018-04-08 09:40] FlowerWrong opened #224 "Invocation of init method failed; nested exception is java.lang.IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required"
* Spring Boot v2.0.1.RELEASE
* mybatis-spring-boot-starter 1.3.2

It worked well in controller, but controller test failed. also, mapper test worked well.

## SessionControllerTests

[code]

## error log

[code]

[2018-04-08 10:03] kazuki43zoo commented on #224
Could you provide a reproduce project via GitHub?

[2018-04-08 10:07] kazuki43zoo commented on #224
Or please try mybatis-spring-boot-test.

* http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-test-autoconfigure

[2018-04-08 13:15] FlowerWrong commented on #224
I have wrote a demo, it worked well. 😢 , So sad.

[2018-04-11 08:09] FlowerWrong commented on #224
After I add some code, it worked.

[code]

Important code is
[code]

I do not know why. But the demo project worked well without code above.

[2018-04-11 08:40] kazuki43zoo commented on #224
Could you provide a demo project via GitHub?

[2018-04-11 09:04] FlowerWrong commented on #224
[my project](https://github.com/FlowerWrong/tyrannosaurus)

[code commit to fix test](https://github.com/FlowerWrong/tyrannosaurus/commit/f783633ab30f38972f692f435d165326ec8c316a)

[2018-04-11 09:04] kazuki43zoo commented on #224
I've reproduced on the following demo:

[code]

And I 've resolved this issue using mybatis-spring-boot-test-starter as follow:

[code]

The `@WebMvcTest` cannot configure beans for MyBatis, therefore you should configure beansfor MyBatis. I will introduce the mybatis-spring-boot-test-starter project as method of bean definitions for MyBatis on test class.

I guess that your demo project does not

[2018-04-11 09:15] FlowerWrong commented on #224
Thanks a lot, it worked.

[2018-04-11 09:15] #224 closed

[2018-04-11 09:37] kazuki43zoo opened #225 "Add an explanation for @AutoConfigureMybatis in doc"
The mybatis-spring-boot-test-starter project provide the `@MybatisTest` annotation. But it cannot use together with another `@***Test` annotation (e.g. `@WebMvcTest`,etc...).
Hence; I think better that adding an explanation for `@AutoConfigureMybatis`.

### Related Links

* #224

[2018-04-11 09:39] kazuki43zoo commented on #224
@FlowerWrong Thanks for your reporting!
I've created #225 for updating documentation.

[2018-04-12 16:41] hexiaowu opened #226 "springboot map-underscore-to-camel-case invalid"
My spring version is 1.5.2, spring-mybatis-start version is 1.3.2,
I set mybatis.configuration.map-underscore-to-camel-case=true in properties.
But the MAP I returned was not converted to Camel named

[2018-04-12 22:13] kazuki43zoo commented on #226
Could you provide a reproduce project via GitHub?

[2018-04-13 02:28] soliders opened #227 "Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required in spring mock mvc test for spring boot with mybatis"
## the demo project location

https://github.com/soliders/mockmvctest-ofspringboot-withmybatismapper https://github.com/soliders/mockmvctest-ofspringboot-withmybatismapper.git
explain: the demo use Spring Boot/ mybatis-spring-boot-starter1.3.2/mybatis-spring-boot-starter-test and other basic components

## problems:

1. when i'm use spring mock mvc to testing the controller of spring boot, it appe

[2018-04-13 02:35] soliders commented on #227
Exception
[code]

[2018-04-13 07:56] hexiaowu commented on #226
The problem has been solved. I carefully searched the official documentation and found that mybatis.configuration.map-underscore-to-camel-case=true is working on JavaBeans. It is not on HashMap. I inherited MapWrapper to rewrite the findProperty function. The desired effect

[2018-04-13 07:56] #226 closed

[2018-04-13 12:40] kazuki43zoo commented on #227
You should configure mybatis's beans, if you use together with `@WebMvcTest`. If you want to configure using mybatis-spring-boot-autoconfigure feature, you can use the `@AutoConfigureMybatis` provided by mybatis-spring-boot-test-autoconfigure. See #224 .

Do you want to perform an integration test[1] to access real databases using MockMvc(without application server)? If yes, I suggest to change yo

[2018-04-14 08:09] soliders commented on #227
- yes, i want to perform an inegration test to access the real database using MockMvc.

- and,i do the test using you suggest code ,bu it also work nothing at all.
the first test code i use and its result like this:
## ** first test code:**
[code]
## **console log result of the first test code**
[code]
you can see the next line of "=====mock test result======"  is nothing to output.

## **the seco

[2018-04-14 08:14] kazuki43zoo commented on #227
Please stop to use `@MockBean`.

[2018-04-14 08:16] kazuki43zoo commented on #227
please try as follow:

[code]

[2018-04-14 08:26] soliders commented on #227
comment on @MockBean, it works.
##**the test code**
[code]
## **console log result**

[code]

could you give some explain ? why remove the code
[code]
it works?

if remove the @MockBean , it still be the Mock Test( inegration test) ?

[2018-04-14 08:38] kazuki43zoo commented on #227
Sorry, I cannot understand your comment ...
About `@MockBean`, please see [the Sprint Boot reference documentation](https://docs.spring.io/spring-boot/docs/2.0.1.RELEASE/reference/htmlsingle/#boot-features-testing-spring-boot-applications-mocking-beans).

If you use the `@MockBean` in this case, the `TestServiceImpl` never use on this test. In other words, service(mocked service) return always an

[2018-04-14 08:39] kazuki43zoo commented on #227
I think mock test != integartion test ...

[2018-04-14 08:43] kazuki43zoo commented on #227
If you `@MockBean`, it is an integration test for 「JUnit <-> MockMvc <-> DispatcherServlet <-> Controller ~~<-> Service <-> Mapper <-> DB~~」. Not integrate Service, Mapper and DB.

[2018-04-14 08:45] soliders commented on #227
i understand now.
thank you very much.

[2018-04-14 08:47] #227 closed

[2018-04-16 17:07] jiaoge commented on #221
what time?

[2018-04-17 07:16] FutureElement opened #228 "How to user foreach by annotations"
for example, how to write this by annotations @Insert ?
[code]

[2018-04-17 12:14] kazuki43zoo commented on #228
If you use the `@Insert` annotation, you can specify above sql in `@Insert` as follow:

e.g.)

[code]

or alternative you can build a dynamic sql using `@InsertProvider` (java code).

e.g.)

[code]
[code]

or almost you can use BATCH insert provided by JDBC feature via MyBatis.
see https://github.com/mybatis/mybatis-3/wiki/FAQ#how-do-i-code-a-batch-insert.

@FutureElement Please post a question to

[2018-04-17 12:14] #228 closed

[2018-04-26 07:24] huayanYu opened #229 "remove @AutoConfigureAfter({DataSourceAutoConfiguration.class})"
I think It is not necessary,SqlSessionFactory just need dataSource。

I worte a dynamic-datasource-spring-boot-starter，use this starter,others must exclude  DataSourceAutoConfiguration

[code]

The major code llike this！
[code]

Because of @AutoConfigureAfter({DataSourceAutoConfiguration.class})
SqlSessionFactory cant not inject my dynamicDataSource。
others must manual config SqlSessionFactory and

[2018-04-26 23:34] kazuki43zoo commented on #229
@huayanYu

I will propose adding `@AutoConfigureBefore(DataSourceAutoConfiguration.class)` on your auto-configuration class instead of adding `@SpringBootApplication(exclude = DataSourceAutoConfiguration.class)` on user application.

What do you think?

[2018-04-27 02:55] zhukongyi opened #230 "Allow configuration for typeAliasesSuperType using application.properties"
为什么mybatis-spring-boot-starter不加入TypeAliasesSuperType配置？

[2018-04-27 10:29] kazuki43zoo commented on #230
Could you provide more detail explanation?
I cannot understand your issue. What is `TypeAliasesSuperType` ?

[2018-04-27 14:15] zhukongyi commented on #230
[code]

**why no TypeAliasesSuperType in MybatisProperties class**

[2018-04-27 14:31] kazuki43zoo commented on #230
@zhukongyi Thanks for your explanation!
I understand. I will support it.

Thanks again.

[2018-04-27 15:53] #230 closed

[2018-04-27 16:50] huayanYu commented on #229
@kazuki43zoo  Thank U very much.
I have finised the starter,but I have not deploy and have no doc。
I will sync to github when i finised doc。
now the project is on china git。
https://gitee.com/baomidou/dynamic-datasource-spring-boot-starter
the demo project is here。
https://gitee.com/baomidou/dynamic-datasource-example

[2018-04-27 17:06] #229 closed, assigned to nobody

[2018-04-27 17:13] kazuki43zoo opened #233 "Upgrade to Spring Boot 1.5.12 on 1.3.x"

[2018-04-27 17:14] kazuki43zoo opened #234 "Upgrade to Spring Boot 2.0.1 on master"

[2018-04-27 23:51] #234 closed

[2018-04-27 23:56] #233 closed

[2018-04-27 23:57] kazuki43zoo opened #235 "Upgrade to MyBatis 3.5.0-SNAPSHOT"

[2018-04-28 00:01] kazuki43zoo opened #236 "Upgrade to mybatis-parent 31-SNAPSHOT"

[2018-04-28 00:14] kazuki43zoo opened #237 "Add build using JDK10 on Travis CI"
https://sormuras.github.io/

[2018-04-28 10:10] #237 closed

[2018-05-09 16:49] kazuki43zoo opened #241 "Upgrade to Spring Boot 2.0.2 on master"

[2018-05-09 16:49] kazuki43zoo opened #242 "Upgrade to Spring Boot 1.5.13 on 1.3.x"

[2018-05-09 16:58] #241 closed

[2018-05-09 17:01] #242 closed

[2018-05-09 22:00] raoofm commented on #206
Any timeline for this ?

[2018-05-10 16:52] kazuki43zoo commented on #206
The MyBatis-Spring 2.0 will release waiting the MyBatis 3.5.0 GA(release date is undecided yet).
I believe 1.3.x work fine on Spring Boot 2.0.x.
If it does not work fine, please feedback via new issue.

Thanks.

[2018-05-10 17:30] kazuki43zoo commented on #206
#12

[2018-05-13 11:52] kazuki43zoo opened #244 "Change dependency scope of mybatis-spring-boot-starter-test to test in doc"
#243 backport to 1.3.x.

[2018-05-13 12:00] kazuki43zoo commented on #244
Fix via 34e7dc6258a70145551f44ce1a73b84c6f2125a8 00611b650e3eb7dcbf1bfd9f6723ce3032c725be.

[2018-05-13 12:00] #244 closed

[2018-05-18 03:12] taccisum opened #245 "why logging system invalid when using @MybatisTest, how to fix it?"
following is my code
[code]

but, nothing output on the console

[2018-05-18 12:36] kazuki43zoo commented on #245
Could you provide a reproduce project via GitHub?
I cannot reproduce this issue.

[2018-05-18 12:40] kazuki43zoo commented on #245
I've created maven project using the [SPRING INITIALIZR](https://start.spring.io/).

[code]

[code]

[2018-05-21 06:10] taccisum commented on #245
thanks you answer.
i have find the reason.
nothing to do with @MybatisTest. this problem is cause by my logback.xml

[2018-05-21 06:10] #245 closed

[2018-05-24 02:28] qwop opened #246 "Where the code can map the results of a database query to the jpa entity"
Where the code can map the results of a database query to the jpa entity
在哪里代码可以将数据库查询的结果映射到jpa entity

[2018-05-24 04:31] qwop commented on #246
@Table
class Person{
   private String id;
   private String name;
   private String age;

   @Column(name="p_id")
   public String getId() { return id;}
    @Column(name="p_name")
   public String getName() { return name;}
}

Mapper {
  @Select( 'select * from t_person' )
  Person select();
}

[2018-05-26 01:39] kazuki43zoo commented on #246
???
The MyBatis does not support JPA annotations.
I cannot understand this issue. Could you explain more?

[2018-05-26 03:51] qwop commented on #246
how to support jpa annotations

[2018-05-26 03:52] #246 closed

[2018-05-29 14:25] kazuki43zoo commented on #38
@shreyasGit
Could you provide a reproduce project on GitHub?

[2018-05-29 16:34] shreyasGit commented on #38
Ok does that mean I need to provide a sample spring boot project which
replicates problem ? My application is quite huge, moving from spring 3.1
to boot. I will not be able to provide entire thing

On Tue, May 29, 2018, 19:55 Kazuki Shimizu <notifications@github.com> wrote:

[2018-05-29 16:46] kazuki43zoo commented on #38
If you need my help, I want to a **small reproduce project**.
It is difficult to analyze issue with stack trace alone in this case.

[2018-05-30 15:35] sp121933039 commented on #180
求解决方法

[2018-05-30 23:56] joannbrereton opened #247 "Using Spring Boot Test Starter and parameterType="map""
I am trying to test an xml based Mapper that I have for my project.   In the xml is something that looks like this.

[code]

The java interface for that particular query looks like this.

[code]

The selectGamesByDateAndTeams query works fine within regular code, but when I write a test for it using spring boot mybatis test starter like this

[code]

, the gameMapperExistsTest works fine but the g

[2018-05-31 00:51] joannbrereton commented on #247
Question withdrawn.  Realized I could just leave parameterType="map" off.

[2018-05-31 00:51] #247 closed

[2018-06-01 10:28] cookerzhu commented on #180
I've encountered this issue , Add @Bean in Spring boot Application:
@Bean
    public Interceptor getInterceptor(){
        return new PageInterceptor();
    }

[2018-06-07 14:01] CatalinaMoisuc opened #248 "Using @Update or @Insert with PostgreSQL's RETURNING to get the updated object"
Would be really nice if it would be possible to use `@Update`, `@Insert` and also to map the returned object, using PostgreSQL's `RETURNING` in the statement like:
[code]

Currently this is not working. I get the following error:
[code]

I have also tried to map the result like:
[code]
but I get the same error.

**Note**: I am using the following dependency: `org.mybatis.spring.boot:mybatis-spring

[2018-06-07 16:22] kazuki43zoo commented on #248
This issue does not belong the spring-boot-starter. Please create a new issue on [the mybatis core](https://github.com/mybatis/mybatis-3).

[2018-06-07 16:22] #248 closed

[2018-06-08 10:00] CatalinaMoisuc commented on #248
thank you @kazuki43zoo. I have opened [mybatis/mybatis-3/#1293](https://github.com/mybatis/mybatis-3/issues/1293).

[2018-06-15 08:04] 3-8 commented on #78
@jacks808
I'm using **spring-boot 2.0.3, mybatis-spring-boot-starter 1.3.2** . It works well with @select on mapper interface,
unfortnately, it gets this exception "org.apache.ibatis.binding.BindingException: Invalid bound statement (not found): org.jcker.multipleds.dao.zdjd.XtJdJdlxMapper.selectByPrimaryKey" while I using xml files.
any idea what is going on?

[2018-06-16 04:33] kazuki43zoo opened #249 "Upgrade to Spring Boot 2.0.3"

[2018-06-16 04:35] kazuki43zoo opened #250 "Upgrade to Spring Boot 1.5.15 on 1.3.x"

[2018-07-06 09:22] bclozel opened #252 "Use Spring Boot autoconfigure-processor to optimize auto-configurations"
As explained in [its reference documentation](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-developing-auto-configuration.html#boot-features-custom-starter-module-autoconfigure), Spring Boot provides a `spring-boot-autoconfigure-processor`.

This should be added as an optional dependency to the modules that contains the AutoConfiguration classes (and contains the `sp

[2018-07-07 16:15] kazuki43zoo commented on #252
The `mybatis-spring-boot-autoconfigure` already use the `spring-boot-autoconfigure-processor`.

https://github.com/mybatis/spring-boot-starter/blob/e7ad640500f5b8f8be3ab5a736095015663092a5/mybatis-spring-boot-autoconfigure/pom.xml#L65-L69

[2018-07-18 16:07] qinkaiyuan opened #254 "Will mybatis use the column annotations above the entity like spring data jpa?"
use  mybatis

@Entity
public class Talk {
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Integer talkId;
}

@Mapper
public interface TalkMapper {
    @Select("SELECT * FROM talk")
    List<Talk> queryTalkList();
}

[Talk{talkId=null}]

because talkId in mysql is talk_id ;

use spring jpa

[Talk{talkId=1}]

because spring data jpa can auto mapping talk_id to talkId

So

[2018-07-18 16:35] qinkaiyuan commented on #254
sorry,I found a solution on Stack Overflow.

mybatis:
  configuration:
    map-underscore-to-camel-case: true

[2018-07-18 16:35] #254 closed

[2018-07-25 14:12] paulocezaritecbrazil opened #255 "Error on mybatis-spring-boot-sample-xml"
**Description:

Parameter 0 of constructor in package required a bean of type package that could not be found.

Action:

Consider defining a bean of type package in your configuration.
**

[2018-07-25 14:44] kazuki43zoo commented on #255
@paulocezaritecbrazil Could you explain more detail? I can not understand this issue.

[2018-07-28 18:52] #255 closed

[2018-08-06 01:50] clevertension commented on #250
i don't know what is the problem with upgrading directly

[2018-08-07 17:28] #250 closed

[2018-08-09 01:16] iPhotoner commented on #221
care about when to release 2.0.x，😄

[2018-08-23 03:36] luzhzhsoft opened #257 "Sqlsession is not threadsafe,but example in your document use sqlsession as a field,why?"
mybatis document say Sqlsession is not threadsafe and not recommd as field.but in your spring-boot-starter example :

[code]

[2018-08-23 16:09] kazuki43zoo commented on #257
@luzhzhsoft

The mybatis-spring-boot is used the `SqlSessionTemplate` provided by mybatis-spring. It is thread safe class.

https://github.com/mybatis/spring-boot-starter/blob/8f7336ff9e5ebd9aa73bc741d6b8380b406139c5/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/MybatisAutoConfiguration.java#L163-L172

See the javadoc of [`SqlSessionTemplate`](https://github

[2018-08-23 16:17] #257 closed

[2018-08-24 10:35] luzhzhsoft commented on #257
@kazuki43zoo  i got it. SqlSessionTemplate  implents SqlSession .thank u

[2018-09-05 08:54] AngusLean opened #258 "Why MybatisAutoConfiguration catch ConflictingBeanDefinitionException?"
In class `MybatisAutoConfiguration` line  `ConflictingBeanDefinitionException` 209, the `registerBeanDefinitions` method catch a `IllegalStateException exception`, when a `ConflictingBeanDefinitionException` is happen, usually it's ignored。But in many case, conflict Mapper class is wrong design that should be know in startup time，debug log is weak.

So, should i pull a PR to change this behavior?

[2018-09-07 18:02] kazuki43zoo commented on #258
@AngusLean Thanks for your reporting!

I guess it is logic for ignoring an error that occurred by the [`AutoConfigurationPackages#get()`](https://github.com/spring-projects/spring-boot/blob/ce9c053cbfc41f4753830bbb6c55ee7b2487856b/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/AutoConfigurationPackages.java#L76-L77), but I think you opinion are r

[2018-09-10 09:10] chunzhenzyd opened #260 "@Update trim error"
[code]

Got this error:

[code]

[2018-09-13 08:02] ghost opened #261 "Add a BOM artifact"
In a multi-module project, we want to declare versions in the parent POM, and only the dependencies in the data-access modules. The parent POM looks like (excerpt of the relevant parts):

[code]

However, this approach ends up overwriting Spring Boot 1.5.16.RELEASE dependency management with Spring Boot 1.5.10.RELEASE (because it's imported in mybatis-spring-boot).

A separate BOM artifact for dep

[2018-09-13 15:28] kazuki43zoo commented on #260
@chunzhenzyd

If you use dynamic sql suing XML tag on annotation, please write as follow:

[code]

[2018-09-13 15:32] kazuki43zoo commented on #260
@chunzhenzyd

Although there is no direct relationship with this problem, I will propose to use `#{...}` instead of `${...}`.

The reason see https://github.com/mybatis/mybatis-3/wiki/FAQ#what-is-the-difference-

[2018-09-13 15:35] kazuki43zoo commented on #260
@chunzhenzyd I've closed this issue. If you can resolve this issue, please create a new issue on [MyBatis Core module](https://github.com/mybatis/mybatis-3).

I think this issue does not belong this module.

[2018-09-13 15:35] #260 closed

[2018-09-13 17:26] kazuki43zoo commented on #261
Could you provide small reproduce project via GitHub or zip file?

[2018-09-14 02:03] chunzhenzyd commented on #260
@kazuki43zoo ，thanks！
I solved with：@Update("update user set password=ifnull(#{password}, password) where id=#{id}")
I will try your method later.

BR
Jack Zhang

[2018-09-14 07:08] nsanchob commented on #261
Yes, of course.
[demo.zip](https://github.com/mybatis/spring-boot-starter/files/2382290/demo.zip)

[2018-09-14 15:29] kazuki43zoo commented on #261
@nsanchob thanks for your feedback!

At first, you should understand that the mybatis-spring-boot is not designed to be used as a BOM.
And we have't a plan to add the BOM sub project as this project at currently.

If you want to use  the mybatis-spring-boot as BOM, you can resolve this problem that apply the follow workaround:

[code]

[2018-09-15 09:06] sathishk opened #262 "plugins-package option for application.yml"
As per the [documentation](http://www.mybatis.org/spring-boot-starter/mybatis-spring-boot-autoconfigure/)  we shall load type handlers using

Is there anyway i shall load my plugin classes using application.yml ? something like

[2018-09-17 06:38] nsanchob commented on #261
Thanks!

That's was our first approach. But we are using this POM as a generic parent for projects, and we lose the ability to redefine Spring Boot Dependencies properties to upgrade or downgrade libraries in specific projects.

So at the moment this is our set-up (excerpt of the relevant parts):
[code]

[2018-09-27 16:49] kazuki43zoo commented on #262
@sathishk

The mybatis core module does not support to scan plugin classes. Therefore there are no plan to support it in this artifact at now. If you need to it ,please submit new feature request to mybatis core module.

Alternative, I propose to register your plugin classes to DI container using component scan feature provided by Spring core module as follow:

[code]

The mybatis-spring-boot-auto

[2018-10-10 07:03] HumFei opened #263 "分页在@PostConstruct注解下不生效"
@PostConstruct
    public void initTest(){
        test1();
        test2();
    }
    private void test1(){
        List<Permission> list = permissionDao.selectAll();
        System.out.println("test1");
        System.out.println(list.size());
    }
    private void test2(){
        PageMethod.startPage(1, 20);
        List<Permission> list = new PageInfo<>(permissionDao.selectAll()).getList();

[2018-10-10 12:07] kazuki43zoo commented on #263
What is `PageMethod` ?
The MyBatis does not provide `PageMethod` class.
Could you explain more detail and provide small reproduce project via GitHub?

[2018-10-10 12:42] HumFei commented on #263
I am so sorry, I misread the title, this should be a problem with com.github.pagehelper.

[2018-10-10 12:42] #263 closed

[2018-10-20 03:50] dingjs opened #264 "spring-boot-autoconfigure didn't create SqlSessionFactory bean on some env."
Hi, I have a spring-boot 2.0.4 project,using mybatis-spring-boot-starter-1.3.2.
The project runs fine on my windows and linux computer.
But if I use `jar xvf` extract the project,then I use `jar cvmf0 /META-INF/MANIFEST.MF` to recover the jar.
Although these two jars are all the same.But the later one can't run properly.
The stacktrace is
[code]

## Expected Behavior
     `MybatisAutoConfiguration

[2018-10-20 04:16] kazuki43zoo commented on #264
What do you want to doing? I don't understand it ...
Do you want to change the `/META-INF/MANIFEST.MF`? Could you explain more detail?

[2018-10-20 04:45] dingjs commented on #264
No, I just make sure I didn't change anything,just extract the jar and recover it.Although these two jars are the same,but the second one went wrong.
`jar cvmf0 /META-INF/MANIFEST.MF` just make sue the jar command use the original MANIFEST.MF instead of create a new one.

[2018-10-20 04:58] kazuki43zoo commented on #264
I've closed this issue because I think this issue does not belong with this project. If you think it is a problem, I propose to create a new issue on spring-boot.

[2018-10-20 04:58] #264 closed

[2018-10-23 06:53] snicoll commented on #206
@kazuki43zoo Do you have a CI build testing the current generation with Spring Boot 2.x? Given it's a major generation, I think that is really necessary. Can you please clarify the timeline? I don't know if https://github.com/spring-projects/spring-boot/issues/14917 is legit but if they are broken use cases, I will have to disable the entry on start.spring.io and remove the starter from the third

[2018-10-23 12:44] kazuki43zoo commented on #206
@snicoll I will investigating it and feedback as soon as possible.

[2018-10-23 13:40] snicoll commented on #206
@kazuki43zoo Thanks for the feedback. Could you please answer the other questions when you get a min? (CI + timeline)

[2018-10-23 13:46] kazuki43zoo opened #265 "Upgrade to Spring Boot 2.0.6 on master"

[2018-10-23 13:47] kazuki43zoo opened #266 "Upgrade to Spring Boot 1.5.17 on 1.3.x"

[2018-10-23 13:58] kazuki43zoo commented on #206
@snicoll

Currently, No. I will add as soon as possible (today or tomorrow).

[2018-10-23 16:35] kazuki43zoo commented on #206
@snicoll

I've created two branches for CI using Spring Boot 2.x.

* [Branch](https://github.com/mybatis/spring-boot-starter/tree/ci-for-1.3.2-on-spring-boot-2.0.x) is based on tag mybatis-spring-boot-1.3.2 and update to spring-boot 2.0.6.RELEASE : https://travis-ci.org/mybatis/spring-boot-starter/builds/445162177

* [Branch](https://github.com/mybatis/spring-boot-starter/tree/ci-for-1.3.2-on-spri

[2018-10-23 18:15] kazuki43zoo commented on #206
@snicoll

I've created tow branch for CI using mybatis-spring-boot 1.3.2 + Spring Boot 2.x on my sample application.

* [Branch](https://github.com/kazuki43zoo/mybatis-spring-boot-jpetstore/tree/ci-for-mybatis-spring-boot-1.3.x-on-spring-boot-2.0.x) that use mybatis-spring-boot 1.3.2 + Spring Boot 2.0.6.RELEASE : https://travis-ci.org/kazuki43zoo/mybatis-spring-boot-jpetstore/builds/445260956

* [

[2018-10-26 11:45] #265 closed

[2018-10-26 11:48] #266 closed

[2018-10-26 11:51] kazuki43zoo opened #267 "Drop Oracle JDK on Travis CI"
Oracle JDK 10 does not support on Travis CI.

[2018-10-26 11:52] kazuki43zoo opened #268 "Add JDK 11 on Travis CI"

[2018-10-26 11:53] #267 closed

[2018-10-26 13:01] kazuki43zoo opened #269 "Change to use the InitializingBean instead of @PostConstruct"
I will propose changing to use the `InitializingBean` instead of `@PostConstruct` because it is not base module on JDK 11.

[2018-10-26 13:52] kazuki43zoo opened #272 "Upgrade to mybatis-parent 31 GA"
depends on mybatis/parent#112

[2018-10-26 13:54] #269 closed

[2018-10-26 17:36] #268 closed

[2018-10-26 17:51] kazuki43zoo opened #275 "Support JDK 9 and 10 on Travis CI"
Support JDK 9 and 10 in 1.3.x

[2018-10-26 17:53] #275 closed

[2018-10-30 11:00] manrajesh opened #276 "Mybatis Spring boot calling SQL function not working"
HI,

I have sample spring-boot Project where i call SQL function not working. I am not sure it is a problem with Mybatis spring boot starter or my code level issue. I have sample demo spring boot app giving this exception when you try to hit the rest service endpoint. You can clone my github repo at https://github.com/manrajesh/demo .

I am getting the below error while try to call that function.

[2018-10-30 15:10] kazuki43zoo commented on #276
Close because this issue does not belong this project.
If you need help this issue, please post a question to [the mailing list of mybatis user](https://groups.google.com/forum/#!forum/mybatis-user).

Suggestion:
Could provide a DLL & DML(create table, create function and insert statement for test) ?

[2018-10-30 15:10] #276 closed

[2018-11-05 03:01] wawabear2018 opened #277 "mybatis ognl threadsafe exception"
In my  application on production environment, the following exception was triggered at some special cases:
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.builder.BuilderException: Error evaluating expression ""

and I don't know what is the reason for that?  could anyone help me to find the reason and how to solve this problem?

[2018-11-05 03:02] wawabear2018 commented on #277
my application using spring boot 1.5.13 and mybatis-3.4.0

[2018-11-06 18:52] harawata commented on #277
Hi @wawabear2018 ,
Please post the entire stack trace.
The message part by itself is not helpful very much.

[2018-11-07 02:47] wawabear2018 commented on #277
Caused by: org.apache.ibatis.builder.BuilderException: Error evaluating expression 'item.itemCode != null'. Cause: org.apache.ibatis.ognl.NoSuchPropertyException: com.wdk.price.dal.domain.dataobject.HomsInPriceItemDO.itemCode
	at org.apache.ibatis.scripting.xmltags.OgnlCache.getValue(OgnlCache.java:46)
	at org.apache.ibatis.scripting.xmltags.ExpressionEvaluator.evaluateBoolean(ExpressionEvaluator.

[2018-11-07 02:48] wawabear2018 commented on #277
item.itemCode is truely existed

[2018-11-07 03:14] harawata commented on #277
The latter half of the stack trace seems to be missing, but it probably is https://github.com/mybatis/mybatis-3/issues/623 .

In summary, the recommended solution is to use MyBatis 3.4.2+ (3.4.6 if possible) and Java 1.8.0_25+.
If that's not an option, there is a workaround using a custom [interceptor](https://github.com/mybatis/mybatis-3/issues/623#issuecomment-273977435).

[2018-11-07 23:11] kazuki43zoo commented on #278
@gituser786 @RollsBean @deoxyseia @iver3on

This issue transferred from mybatis/mybatipse project. Could you feedback for this issue? (Could provide a small reproduce project?)
If not feedback, I will close this issue.

[2018-11-14 08:13] Liyongfeng7180 opened #279 "Mybatis will occasionally report sql syntax problems"
My sql statement is as follows ：

[code]

The errors displayed on the log are as follows:

[code]

Obviously, the sql statement has changed during the execution of sql, and this happens by chance. After observation, it was found that some of the sql statements changed during the execution but no error was reported.
Why is this error happening?

[2018-11-14 16:30] kazuki43zoo commented on #279
@Liyongfeng7180 ,

I've close because I think this issue does not belong this project. Please create an issue on the [mybatis core module](https://github.com/mybatis/mybatis-3).

And you might be incorrect how to use the multiple resultset feature. If you create an issue on the mybatis core, please provide a small reproduce project and more error details (e.g. stack trace).

Thanks.

[2018-11-14 16:30] #279 closed

[2018-11-15 07:55] ihoment-troy commented on #180
It's still not work for me, is there any wrong with my code?

`@Configuration
public class MybatisPluginsConfig {

    @Bean
    public TableSplitByModuloInterceptor TableSplitByModuloInterceptor() {
        return new TableSplitByModuloInterceptor();
    }
}`
`@Intercepts({
        @Signature(type = StatementHandler.class, method = "prepare", args = { Connection.class, Integer.class })
})
public

[2018-11-15 15:21] kazuki43zoo commented on #180
@ihoment-troy Could you provide more detail information? I cannot  understand a your problem...

I expect to provide information as follows:

* small reproduce project via GtiHub
* stack trace?

And this issue was closed already. If you have a problem, please create new issue with more detail information.

Thanks.

[2018-11-25 15:50] L-EMO-N commented on #135
if i wanna use an ant style. what shou i do

[2018-12-02 13:15] SagaciousLittle opened #280 "@Results and @Result can't be used"
I built a new springboot project with kotlin, but @Results and @Result can't be used. Is there any solution please?

[2018-12-02 13:49] SagaciousLittle commented on #280
thank you.

[2018-12-02 13:49] #280 closed

[2018-12-07 06:34] baijifeilong commented on #78
Just for lazy guys:
[code]

[2018-12-07 06:36] baijifeilong commented on #78
And the console output:
[code]

[2018-12-13 10:07] xaidanwang opened #281 "Resultmap cannot accept property values in the super class"
use mybatis-spring-boot-starter:1.3.2 spring-boot-starter-parent: 2.0.7
and I have tow class
super class:
[code]
sub class:

[code]
mapper.xml

[code]

But when I execute a select statement, resultmap cannot receive properties from the super class: threshold, ispopup, alarmed, quality

Can you solve this problem for me?
sql select result is:
DispatchingTaskDTO(channelDTOS=[ChannelDTO(channelName=n

[2018-12-13 13:12] kazuki43zoo commented on #281
@xaidanwang

I cannot reproduce this behavior.
Could you provide a reproduce small project of maven or gradle project via GitHub or zip file?

[2018-12-14 02:10] xaidanwang commented on #281
I have already pushed the case to github, please download it at https://github.com/xaidanwang/wechat-server.git . All the code is in the myabtis-demo module. And I have attached the sql file, and the junit test code.

[2018-12-16 09:35] kazuki43zoo commented on #281
@xaidanwang

I've tried your reproduce project. I think it work fine by the current version(in other words, no need doing for resolving your report). Please confirm by adding assertion using JUnit or AssertJ instead of system print out as follow:

[code]
**NOTE 1:**
I've added the `ORDER BY` in SQL for adding assertions as above as follow:

[code]

**NOTE 2:**
If you want to contains debug informa

[2018-12-16 09:38] kazuki43zoo commented on #281
@xaidanwang

I've closed this issue because I think it work fine.
If there is problem, please reopen this issue.

Thanks.

[2018-12-16 09:38] #281 closed

[2018-12-16 10:55] kazuki43zoo commented on #278
@gituser786 @RollsBean @deoxyseia @iver3on

I've closed this issue because no feedback.
If there is problem, please reopen this.

[2018-12-16 10:55] #278 closed

[2018-12-26 02:35] NineSwordsMonster commented on #170
[code]

Although I set `true`, it is still return `null`

[2018-12-26 03:01] kazuki43zoo commented on #170
@NineSwordsMonster
This issue is already closed. Please create a new issue if there is problem. And I want you to provide a small reproduce project on GitHub.

Thanks.

[2019-01-02 03:47] hazendaz commented on #206
We run the mybatis-spring-boot 1.3.2 with spring boot 2.1.0 and it seems to work just fine.  If I recall, we got some of that moved into production environment a while back.

[2019-01-02 07:27] rgkjhshi opened #287 "DefaultVFS"
Error resolving class. Cause: org.apache.ibatis.type.TypeException: Could not resolve type alias 'OrderEntity'
But I have configured the SqlSessionFactoryBean with property "typeAliasesPackage"

in mybatis-3.4.6.jar DefaultVFS.listResources()

In springboot project, domain "com/mycorp/xxx/domain/OrderEntity.class" has a "/BOOT-INF/classes/" prefix.

![image](https://user-images.githubusercontent.c

[2019-01-02 07:49] rgkjhshi commented on #287
I resolved with config
`xml
<configuration>
    <skip>true</skip>
</configuration>
`

[2019-01-02 10:03] rgkjhshi commented on #287
I think directory "BOOT-INF" is needed, right?

[2019-01-02 11:13] rgkjhshi commented on #287
Thanks, and I resolved this problem by set the vfs property of SqlSessionFactoryBean.

I will close this issue if there is no other problem.

[2019-01-02 11:13] #287 closed

[2019-01-06 04:35] khumbuche commented on #217
A bit late, but this problem is due to missing .xml files in the classpath.  Following may fix the problem.

`// include .xml mapper files into class path.
sourceSets {
	main {
		resources {
			srcDirs = ["src/main/java"]
			includes = ["**/*.xml"]
		}
	}
}`

[2019-01-06 09:51] laxika commented on #206
Everything works as expected in my case too. The only problem I see is that I get some warnings on Java 11:

[2019-01-06 10:12] kazuki43zoo commented on #206
@laxika

Probably it is same issue with https://github.com/mybatis/mybatis-3/issues/1156.
Could you try the mybatis 3.5.0-SNASHOT(mybatis-spring-boot-starter 2.0.0-SNAPSHOT)?

[2019-01-06 10:36] snicoll commented on #206
Team, can you share what prevents a release of the starter with official build against Spring Boot 2? It's been a while now and Spring Boot 1 is going to be EOLed next August. Let us know if we can help on the Spring Boot side of things.

[2019-01-06 20:49] hazendaz commented on #206
Couple of things we are doing that will affect all mybatis modules being released.

- everything is moving to jdk 8
- our super pom is readying release
- all modules are being upgraded to junit 5
- any other general cleanups with possible introduction of google error prone to make our code better

Generally we dont provide firm dates.  The items above though will be completed before end of January

[2019-01-07 17:51] kazuki43zoo commented on #277
@wawabear2018 Could you provide a feedback?

[2019-01-07 17:55] kazuki43zoo commented on #262
@sathishk Could you provide a feedback? If not feedback, I will close this issue.

[2019-01-08 18:41] #258 closed

[2019-01-09 12:47] #272 closed

[2019-01-09 14:41] kazuki43zoo opened #291 "Support CI using Spring Boot 2.1"

[2019-01-09 14:50] #291 closed

[2019-01-12 03:37] kazuki43zoo opened #292 "Upgrade to Spring Boot 2.0.8"

[2019-01-12 03:37] kazuki43zoo opened #293 "Upgrade to Spring Boot 1.5.19 on 1.3.x"

[2019-01-12 03:41] #292 closed

[2019-01-12 03:46] #293 closed

[2019-01-20 18:28] kazuki43zoo opened #295 "Upgrade to MyBatis 3.5.0 GA"

[2019-01-20 18:29] #295 closed, assigned to kazuki43zoo

[2019-01-21 13:58] #206 closed

[2019-01-21 13:58] #221 closed

[2019-01-22 03:37] ZJ-Mario commented on #206
666

[2019-02-01 06:04] biuabiu opened #296 "MapperScanQuestion"
I hava Two project, one A ,one B , B  dependency A, i use B server why mapperScan is all A project
 mapperStatements ? please help me
![image](https://user-images.githubusercontent.com/38499411/52105589-3fa87f80-262a-11e9-833a-b9d04bc177fd.png)

[2019-02-01 06:12] biuabiu commented on #296
org.apache.ibatis.binding.BindingException: Invalid bound statement (not found)

[2019-02-04 23:17] kazuki43zoo commented on #296
Hi @biuabiu ,

I can not help with just the information currently provided from you.
I would like you to explain in more detail what is the problem. Could you provide informations as follow:

* small reproduce project(Maven or Gradle)
* expected result
* actual result
* etc ...

[2019-02-05 00:07] kazuki43zoo commented on #277
@wawabear2018
I've closed this because root cause not belong this project and no reply from you.
If you cannot resolve this issue using the latest MyBatis version(3.5.0), please create a new issue in the [MyBatis core module](https://github.com/mybatis/mybatis-3).

Thanks.

[2019-02-05 00:07] #277 closed

[2019-02-05 00:10] kazuki43zoo commented on #262
@sathishk

I've closed this issue because no reply form you.
If there is feedback, please reopen this issue.

Thanks.

[2019-02-05 00:10] #262 closed

[2019-02-12 01:24] biuabiu commented on #296
@kazuki43zoo
this is two  maven project;

I expect that when Project A relies on Project B, Project B still scans related statement B, but now when Project A relies on B, Project B scans statement A

[2019-02-21 03:58] chris-peng-1244 commented on #278
I just created a mini project that reproduces a similar issue. Here is the git repo. https://github.com/chris-peng-1244/ibatis-resolve-type-alias

The project works fine in IntelliJ, but if I execute `java -jar xxxx.jar` it complained that BookDO couldn't be resolved.

The reason that this project followed some very unorthorgnal file structures and naming conventions is that:
1. The real project h

[2019-02-21 15:27] kazuki43zoo commented on #278
@chris-peng-1244

Please use the `SpringBootVFS` as follow:

[code]

[2019-02-22 03:50] chris-peng-1244 commented on #278
@kazuki43zoo It works, thank you so much!

[2019-02-28 15:51] KimRasak commented on #224
omg, I finally work this out. Thanks.

[2019-03-08 14:30] wezhyn opened #298 "java.lang.IllegalArgumentException: invalid comparison: java.util.ArrayList and java.lang.String"
I am use   mybatis-spring-boot-starter :1.3.2 dependency, when I use custom typeHandler `

[code]
 and add it in application.yml ,
I use test class to test it
[code]

 typeHandler handle success，when i create a use and Added the corresponding list
[code]
but it throws exception :invalid comparison: java.util.ArrayList and java.lang.String

[2019-03-08 15:54] kazuki43zoo commented on #298
Could you provide small reproduce project via GitHub?

[2019-03-09 01:08] wezhyn commented on #298
Thanks you for your caring,but I handle the problem

[2019-03-09 05:26] zhangjiaxin281 opened #299 "Mybatis-spring-boot-starter: 1.3.2 upgrade 2.0.0 program error"
**gradle info**
[code]
**application.yml**
[code]
**mybatis-config.xml**
[code]
**error info**
[code]

[2019-03-09 05:40] kazuki43zoo commented on #299
Could you provide small reproduce project via GitHub?

[2019-03-09 06:04] zhangjiaxin281 commented on #299
https://github.com/zhangjiaxin281/rabbitmq-hello.git

[2019-03-09 06:30] kazuki43zoo commented on #299
@zhangjiaxin281 I cannot reproduce using your demo application.

Could you explain how to reproduce this issue using your demo application?

[2019-03-09 07:14] zhangjiaxin281 commented on #299
Thank you very much for your reply in such a short time!
The 1.3.2 version of mybatis-spring-boot-starter is used in the project, and the program will start normally when starting the project.
Change to version 2.0.0 in gradle, reload the version, and start the project program does not start normally, and an error is reported.

[2019-03-09 09:02] zhangjiaxin281 commented on #299
Just now, I submitted my project to github and downloaded it. I did not change anything. After the compilation, it was successful.And then I ran it again without success, and then I ran it again without success.To quote NullPointerException error.

[2019-03-09 13:28] kazuki43zoo opened #300 "Support auto-configure LanguageDriver provided by MyBatis's sub module"
I consider to support auto-configure for following language drivers.

* [freemarker-scripting](https://github.com/mybatis/freemarker-scripting)
* [velocity-scripting](https://github.com/mybatis/velocity-scripting)
* [thymeleaf-scripting](https://github.com/mybatis/thymeleaf-scripting)

# Specification of this change

In this change, following changes applied.

### Auto configuration of language dr

[2019-03-12 00:35] #298 closed

[2019-03-12 03:42] treezhu commented on #299
I have the same problem.it was successful when I change it to the 1.1.1 version.

[2019-03-12 08:31] zhangjiaxin281 commented on #299
@kazuki43zoo I want your help. Other people are having this problem.

[2019-03-12 09:34] kazuki43zoo commented on #299
I want to help yours ! But I cannot reproduce this...

@treezhu Could your provide small reproduce project via GitHub?

[2019-03-19 03:56] iPhotoner commented on #299
@zhangjiaxin281 it works.@see
https://github.com/iPhotoner/demonstration-repository/tree/master/demo-mybatis-spring-boot-starter

[2019-03-21 08:02] kazuki43zoo opened #301 "There is case that cannot scan classes using SpringBootVFS"
See https://github.com/mybatis/mybatis-3/issues/1500.

If following all conditions are matched, the `SpringBootVFS` cannot scan classes correctly.

* Run without executable jar(e.g. Maven/Gradle Plugin, IDE, etc...)
* Scanning target classes are stored in jar file under maven local repository (e.g. `${HOME}/.m2/repository`)
* Specified scanning base package is matched with prefix of groupId

In th

[2019-03-21 08:17] kazuki43zoo commented on #301
The valid workaround is changing the scanning base package to more nested package(e.g. `com.bee.kuna.typehandler`).

**NOET:**
Does not support the wildcard as the scanning base package (e.g. `com.bee.*.typehandler`). If you need to scan classes from multiple package, please specify base package for each. (e.g. `mybatis.type-handlers-package=com.bee.kuna.typehandler,com.bee.foo.typehandler`)

[2019-03-21 08:26] kazuki43zoo commented on #301
This issue's root cause are following code in  `SpringBootVFS`.

https://github.com/mybatis/spring-boot-starter/blob/ba00741f7ef3303dc69df600efe3e97018d67e8a/mybatis-spring-boot-autoconfigure/src/main/java/org/mybatis/spring/boot/autoconfigure/SpringBootVFS.java#L57-L65

In this implementation, the MyBatis will try to scan the `/com/bee/kuna/kuna-server-db/0.1.1-RELEASE/kuna-server-db-0.1.1-RELEAS

[2019-03-21 08:28] kazuki43zoo commented on #301
@eddumelendez WDYT? Is correct my suggestion?

[2019-03-21 08:38] kazuki43zoo commented on #301
@wamaco

Thanks for your report!
I propose to apply workaround until fix this issue. See https://github.com/mybatis/spring-boot-starter/issues/301#issuecomment-475143033.

[2019-03-26 23:11] kazuki43zoo opened #304 "Update to Spring Boot 2.1.3 on Travis CI"

[2019-03-27 15:51] kazuki43zoo opened #306 "Drop jdk 9, 10 on Travis CI for 1.3.x"

[2019-03-27 22:20] kazuki43zoo commented on #301
Hi @wamaco,

I've fixed this and published snapshot version(2.0.1-SNAPSHOT, 1.3.4-SNAPSHOT) to OSS nexus. If you are time, please check it.
About how to use snapshot version, see here[https://github.com/mybatis/mybatis-3/wiki/Maven#snapshot].

Thanks!

[2019-03-27 22:20] #301 closed

[2019-03-27 23:12] kazuki43zoo opened #307 "Support JDK 12 on Travis CI for 1.3.x"

[2019-03-28 03:29] wamaco commented on #301
Hi @kazuki43zoo , thank you very much.
I have tested my code with 1.3.4-SNAPSHOT, and the warnings have disappeared.

I have a little suggestion,  `TypeHandler` check all `com.bee` subpackages, now we can configure multiple packages like `com.bee.kuna, com.bee.test, ...`, but if we can configure it as`com.bee.*.typehandler.*` will be great,  like aspectj scanning do.
[code]

[2019-03-28 10:25] naoki-iwami commented on #301
日本語にて失礼します。
こちら、現在のプロジェクトで試した（1.3.4-SNAPSHOT）ところ問題なく動きました。
該当のケースかどうかはわかりませんが、以下のような構成です。

[code]

[2019-03-28 10:49] kazuki43zoo commented on #301
@wamaco Thanks for your working!

I will consider to support it!

[2019-03-28 11:25] #306 closed

[2019-03-28 11:29] #304 closed

[2019-03-29 08:26] #307 closed

[2019-03-30 01:47] #225 closed

[2019-03-30 02:05] kazuki43zoo opened #309 "Add @ExtendWith(SpringExtension.class) on @MybatisTest"
See https://github.com/spring-projects/spring-boot/issues/13739.

[2019-03-30 02:55] #309 closed

[2019-03-30 04:17] kazuki43zoo opened #311 "Upgrade to Spring Boot 2.0.9"
Will update after release 2.0.9(https://github.com/spring-projects/spring-boot/milestone/132)

[2019-03-30 04:19] kazuki43zoo opened #312 "Upgrade to Spring Boot 1.5.20"
Will update after release 1.5.20(https://github.com/spring-projects/spring-boot/milestone/131)

[2019-03-30 04:20] kazuki43zoo opened #313 "Update to Spring Boot 2.1.4 on Travis CI"
Will update after release 2.1.4(https://github.com/spring-projects/spring-boot/milestone/138)

[2019-03-30 04:47] kazuki43zoo opened #314 "Support wildcard on package scanning feature"
See https://github.com/mybatis/spring-boot-starter/issues/301#issuecomment-477433258.

### Description

In this changes, can specify a wildcard at `mybatis.type-aliases-package` and `mybatis.type-handlers-package` property as follow:

[code]

### Solution

This feature has been supported by mybatis-spring 2.0.1.

### Note

This feature **does not apply** to `mtbatis-config.xml` because this featur

[2019-03-30 04:48] kazuki43zoo commented on #301
@wamaco I've created #314.

[2019-03-30 06:57] kazuki43zoo opened #315 "Upgrade to MyBatis 3.5.1"
Will update after releasing 3.5.1(https://github.com/mybatis/mybatis-3/milestone/21?closed=1).

[2019-04-01 03:05] wamaco commented on #301
@kazuki43zoo thanks, I have subscribed, and I'm learning from you.

[2019-04-03 14:40] #312 closed

[2019-04-03 15:23] kazuki43zoo commented on #299
I've closed because no-reply.
If you cannot resolve this, Please reopen this attached with a small reproduce project via GitHub.

Thanks.

[2019-04-03 15:23] #299 closed

[2019-04-03 15:24] kazuki43zoo commented on #296
@biuabiu Could you provide small reproduce project via GitHub?

[2019-04-03 15:30] biuabiu commented on #296
Okay, I'll submit one tomorrow when I have time-------- 原始邮件 --------主题：Re: [mybatis/spring-boot-starter] MapperScanQuestion (#296)发件人：Kazuki Shimizu 收件人：mybatis/spring-boot-starter 抄送：axxc <545597162@qq.com>,Mention @biuabiu Could you provide small reproduce project via GitHub?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-03 15:38] biuabiu commented on #296
@kazuki43zoo Okay, I'll submit one tomorrow when I have time

[2019-04-04 13:00] biuabiu commented on #296
hi @kazuki43zoo   我提交了项目,如果你有时间的话你可以看一下,谢谢
[这是有关我提出的小型项目](https://github.com/biuabiu/mybatis-demo)

[2019-04-04 13:03] biuabiu commented on #296
@kazuki43zoo  I submitted the project. If you have time, you can have a look at it. Thank you.

[2019-04-04 16:19] kazuki43zoo opened #316 "Upgrade to mybatis-spring 2.0.1"
Will update after releasing 2.0.1(https://github.com/mybatis/spring/milestone/11?closed=1)

Above release include changes for fixing the gh-314.

[2019-04-04 16:47] #311 closed

[2019-04-04 16:56] #313 closed

[2019-04-04 17:28] kazuki43zoo commented on #296
Hi @biuabiu , Thanks for providing the reproduce project!

Please try as follow:

* demo-A/src/main/resources/application.properties

[code]

If you want to scan mapper xml files from all dependency artifacts, you should specify `classpath*:` prefix instead if `classpath:` prefix. (This is Spring Framework feature)

[2019-04-04 17:48] biuabiu commented on #296
@kazuki43zoo   OK, I'll take the time to see it tomorrow. Thank you for checking

[2019-04-05 02:13] biuabiu commented on #296
@kazuki43zoo  Thank you. This feature has solved this problem. Thank you again for your help.

[2019-04-05 02:13] #296 closed

[2019-04-07 11:40] #315 closed

[2019-04-07 12:52] #316 closed

[2019-04-07 12:53] #314 closed

[2019-04-07 13:06] kazuki43zoo opened #317 "Update version to 2.1.0-SNAPSHOT on master branch"
The Spring Boot 2.0.x is finished basic maintenance. Hence; we create 2.0.x branch and update version to 2.1.0-SNAPSHOT on master branch. The mybatis-spring-boot 2.1 line will support Spring Boot 2.1 and 2.2+(does not release GA version yet).

* https://spring.io/blog/2019/04/03/spring-boot-2-0-9-released

### Related Issue

* #318

[2019-04-07 13:10] kazuki43zoo opened #318 "Upgrade baseline to Spring Boot 2.1 line(2.1.4)"
The Spring Boot 2.0.x is finished basic maintenance. Hence; we will update baseline version to Spring Boot 2.1.4. (Support Spring Boot 2.2 line on Travis CI)

* https://spring.io/blog/2019/04/03/spring-boot-2-0-9-released

### Related Issue

* #317

[2019-04-07 13:34] #317 closed

[2019-04-07 14:02] #318 closed

[2019-04-07 15:40] visonforcoding opened #319 "how can i use limit offset with dymanic Sql annotation"
how can i use limit offset with dymanic Sql  annotation.

[2019-04-08 12:07] kervin521 opened #320 "v2.0.1 of mybatis-spring-boot-starter LocalDateTime error"
![image](https://user-images.githubusercontent.com/9798724/55722617-5a87dd80-5a39-11e9-93e7-204058c7946d.png)

No problem in v2.0.0,but It has error in v2.0.1，as follows：

org.springframework.dao.InvalidDataAccessApiUsageException: Error attempting to get column 'start_time' from result set.  Cause: java.sql.SQLFeatureNotSupportedException
; null; nested exception is java.sql.SQLFeatureNotSupporte

[2019-04-08 12:46] harawata commented on #320
Are you using PostgreSQL ?

[2019-04-08 14:11] kazuki43zoo commented on #320
The druid does not support JDBC 4.1 or above...

https://github.com/alibaba/druid/blob/4a79e70d6b37b9fbf853dfd7f2209a3190be699d/src/main/java/com/alibaba/druid/pool/DruidPooledResultSet.java#L1771

[2019-04-08 14:14] kazuki43zoo commented on #320
This issue related with mybatis/mybatis-3#1478.

[2019-04-08 15:02] kazuki43zoo commented on #320
This issue related with alibaba/druid#2867.

[2019-04-08 15:11] harawata commented on #320
Thank you @kazuki43zoo !
It seems like a long standing issue...😖

@kervin521 ,
As a workaround, you can copy the [old implementation](https://github.com/mybatis/mybatis-3/blob/a2ef920a5fc58256d57968c69423c033bf6779d3/src/main/java/org/apache/ibatis/type/LocalDateTimeTypeHandler.java) to your project and register it against LocalDateTime in the config.
Note, however, that there is a problem with th

[2019-04-11 17:21] kazuki43zoo commented on #319
I've closed this issue because this topic does not belong this project.

[2019-04-11 17:21] #319 closed

[2019-04-12 23:58] kazuki43zoo opened #321 "Upgrade to mybatis-spring 2.0.2 GA"
The mybatis-spring 2.0.1 has bug. See the "Known Issues in this version" section on the [release note](https://github.com/mybatis/spring/releases/tag/mybatis-spring-2.0.1).

https://github.com/mybatis/spring/milestone/12

[2019-04-26 23:41] kazuki43zoo opened #323 "Detect a TypeHandler from DI Container"
We consider to support for detecting a TypeHandler from DI container same as `Interceptor` and `DatabaseIdProvider`.

In this changes, the developer can register a custom TypeHandler as follow:

[code]

[2019-04-28 06:40] #323 closed

[2019-04-30 07:40] kazuki43zoo opened #325 "Support enable/disable lazy Initialization on mapper scanning feature"
For details, see mybatis/spring#376.
We will consider to add configuration property for specifying whether use lazy initialization feature.

e.g.

[code]

[2019-04-30 20:02] #325 closed

[2019-05-01 14:51] kazuki43zoo commented on #321
2.0.2-SNAPSHOT is applied already.

[2019-05-02 03:20] kazuki43zoo opened #329 "Upgrade to spring-boot 2.1.5"
https://github.com/spring-projects/spring-boot/milestone/139

[2019-05-02 03:21] kazuki43zoo opened #330 "Upgrade to spring-boot 1.5.21"
https://github.com/spring-projects/spring-boot/milestone/140

[2019-05-02 14:02] #300 closed

[2019-05-02 15:07] kazuki43zoo commented on #321
Following changes depends on 2.0.2.

* #300
* #325

[2019-05-03 08:14] kazuki43zoo opened #332 "Support configuration properties for mybatis-thymeleaf"
Support configuration properties(`mybatis.scripting-language-driver.thymeleaf.*`) for customizing mybatis-thymeleaf(`ThymeleafLanguageDriverConfig`).

# Related Issues

* #300

[2019-05-03 09:47] kazuki43zoo opened #334 "Deprecate the 'mybatis.configuration.default-scripting-language'"
If `mybatis.configuration.default-scripting-language` is used, there is case that custom language driver cannot be registered correctly. Therefore since 2.1.0, we recommend to use the `mybatis.default-scripting-language-driver` added by #300 instead of it.

# Related Issues

* #300

[2019-05-03 09:49] #332 closed

[2019-05-03 11:33] #334 closed

[2019-05-04 04:03] kazuki43zoo opened #336 "Support configuration properties for mybatis-freemarker"
Support configuration properties(`mybatis.scripting-language-driver.freemarker.*`) for customizing mybatis-freemarker(`FreeMarkerLanguageDriverConfig` added at 1.2.0).

# Related Issues

* #300
* #332

[2019-05-04 04:20] kazuki43zoo opened #338 "Add samples each language drivers"
Add sample each language for integration testing.

* mybatis-thymeleaf
* mybatis-freemarker
* mybatis-freemarker for legacy(1.1.x)
* mybatis-velocity
* mybatis-velocity for legacy (2.0.x)

[2019-05-04 04:34] #336 closed

[2019-05-04 04:35] kazuki43zoo opened #339 "Update to mybatis-freemarker 1.2.0 GA"
https://github.com/mybatis/freemarker-scripting/milestone/3

[2019-05-04 04:37] kazuki43zoo opened #340 "Upgrade to mybatis-thymeleaf 1.0.1"
https://github.com/mybatis/thymeleaf-scripting/milestone/3

[2019-05-04 04:38] kazuki43zoo opened #341 "Upgrade to mybatis-velocity 2.1.0 GA"
https://github.com/mybatis/velocity-scripting/milestone/1

[2019-05-04 15:41] kazuki43zoo opened #342 "Support configuration properties for mybatis-velocity"
Support configuration properties(`mybatis.scripting-language-driver.velocity.*`) for customizing mybatis-velocity(`VelocityLanguageDriverConfig` added at 2.1.0).

# Related Issues

* #300
* #332
* #336

[2019-05-04 17:10] #342 closed

[2019-05-05 05:22] #338 closed

[2019-05-05 07:58] kazuki43zoo opened #345 "Add sample for kotlin"

[2019-05-05 07:59] kazuki43zoo opened #346 "Add sample for groovy"

[2019-05-06 05:55] #345 closed

[2019-05-06 07:54] #346 closed

[2019-05-07 08:12] qlaall opened #349 "not support ZonedDateTime in 2.0.1"
i use org.mybatis.spring.boot.mybatis-spring-boot-starter 2.0.1 and org.postgresql.postgresql 42.2.5
it throw exception when i select a timestamptz field
"conversion to class java.time.ZonedDateTime from 93 not supported"

Return to normal after returning to version 1.3.2

[code]
[code]

[2019-05-07 09:07] harawata commented on #349
Hi @qlaall ,

As the error says, the driver does not support `ZonedDateTime`.
In fact, PostgreSQL does not store the time zone information (the data is stored in UTC), so it is not possible to save/retrieve `ZonedDateTime` correctly.
Have you considered using `LocalDateTime` instead?

The error occurs after upgraded to 2.0.1 because we changed the `ZonedDateTimeTypeHandler` implementation in MyBat

[2019-05-07 14:49] qlaall commented on #349
@harawata thanks ，I use ZonedDateTime just because I might receive data from different time zones, but I need a uniform way to save.
So ZonedDateTime allows me to avoid the time zone format of a database store in the document after manual processing. Timestamp is missing information for me. I also need to find the document to see if the program converts the read data into GMT+8 or GMT+0, this is a

[2019-05-07 16:31] harawata commented on #349
Thanks for the reply, @qlaall !
I believe we can close this issue, then.

By the way, I forgot to mention that the driver supports `OffsetDateTime`.
So, if it meets your requirements, it could be a better choice.

[2019-05-07 16:31] #349 closed

[2019-05-10 07:14] Kinhan commented on #299
This bug can be reproduced by starting with jrebel (version:2018.2.6) and Mybatis-spring-boot-starter (version:2.0.0/2.0.1). Use jrebel (version:2018.2.6) and Mybatis-spring-boot-starter (version:1.3.x
) will not appear this bug.

[2019-05-12 07:10] kazuki43zoo commented on #299
Hi @Kinhan , I've tried to use with JRebel 2019.1.1(plugins of IntelliJ IDEA). However, I cannot reproduce this. Could you provide reproduce project?

[2019-05-12 07:40] kazuki43zoo commented on #299
Hi @Kinhan , If you use the mybatis-spring 2.0.x depend on mybatis-spring-boot-starter 2.0.x on JRebel, you need to use JRebel JRebel 2019.1+. Please see the [release note of JRebel](https://jrebel.com/software/jrebel/download/changelog/2019-x/).

[2019-05-12 07:50] kazuki43zoo commented on #299
@zhangjiaxin281 Are you use mybatis-spring-boot-starter on JRebel 2018.2.x or under version?

[2019-05-13 01:40] Kinhan commented on #299
Hi @kazuki43zoo, You are right. I could not reproduce the bug after I updated my JRebel 2018.x(plugin of IntelliJ IDEA) to JRebel 2019.1.1(plugin of IntelliJ IDEA). This's my fault, I should read the release note of JRebel first, sorry.

[2019-05-14 15:32] #330 closed

[2019-05-15 16:47] #329 closed

[2019-05-18 15:01] zhangjiaxin281 commented on #299
@kazuki43zoo I started the project on the lower version before, but now I upgrade to the latest version and this problem does not appear. Thanks again!

[2019-06-10 12:42] thpy opened #350 "Cannot deploy war file to the Tomcat with Spring Boot 2.2.0"
I can run as spring boot, but I can't run on tomcat, my spring boot is 2.2.0.M3
[code]

[2019-06-10 12:43] thpy commented on #350
Any one can help?

[2019-06-10 12:49] mallim commented on #350
What is your application.properties or applicaton.yml ?

[2019-06-10 12:51] thpy commented on #350
This is my pom.xml
[code]

[2019-06-10 12:52] kazuki43zoo commented on #350
Could you provide small reproduce project via GitHub?

[2019-06-10 13:00] thpy commented on #350
My application.properties
[code]

[2019-06-10 13:06] mallim commented on #350
Please check the documentation on this property: mybatis.configuration.cacheEnabled

Your error is related to this.

[2019-06-10 13:24] thpy commented on #350
my project url[myproject](https://github.com/thpy/mybatisnotworkontomcat) @kazuki43zoo

[2019-06-10 13:25] kazuki43zoo commented on #350
@thpy Thanks!

[2019-06-10 13:27] thpy commented on #350
It not work also
[code]

[2019-06-10 13:33] thpy commented on #350
No solution!

[2019-06-10 15:17] kazuki43zoo commented on #350
I will investigating for fix this problem now.

I have one question. Is need to get configuration properties via JNDI? If you does not use JNDI, you can prevent this error as adding `-Dspring.jndi.ignore=true` on JVM argument of Tomcat.

[2019-06-10 16:04] thpy commented on #350
I don't need JNDI, I will try it tomorrow.

[2019-06-10 16:07] thpy commented on #350
Our production have JNDI for another project.

[2019-06-10 16:20] kazuki43zoo commented on #350
OK. The `spring.jndi.ignore=true` can specify on `spring.properties` just under classpath on your application too.

e.g.)

* src/main/resources/spring.properties

[code]

[2019-06-10 19:34] kazuki43zoo commented on #350
I've created https://github.com/spring-projects/spring-boot/issues/17098.

[2019-06-10 22:36] kazuki43zoo commented on #350
@thpy Probably, this issue belong the Spring Boot. Please watch the spring-projects/spring-boot#17098.

Thanks.

[2019-06-11 00:30] thpy commented on #350
Ok, It's work when I add that. Thanks   @kazuki43zoo
[code]

[2019-06-11 22:50] kazuki43zoo opened #351 "Support build using OpenJDK EA on Travis CI"

[2019-06-15 12:29] omobh opened #352 "get java.lang.NullPointerException when using the mapper interface"
Hello,I just met a problem and cann't sovlve it.
Im using springboot with mybatis, and this is the build.gradle:
[code]
This is the application.properties:
[code]
and this is the main class:
[code]
the mapper interface:
[code]
the service class:
[code]
and the code above will cause a java.lang.NullPointerException when execute to the "logger.info("tdmapper1 is running ......" + tdmapper.toString()

[2019-06-15 12:34] #352 closed

[2019-06-15 12:35] omobh opened #353 "Get java.lang.NullPointerException when using mybatis mapper"
Hello,I just met a problem and cann't sovlve it.
Im using springboot with mybatis, and this is the build.gradle:
[code]
This is the application.properties:
[code]
and this is the main class:
[code]
the mapper interface:
[code]
the service class:
[code]
and the code above will cause a java.lang.NullPointerException when executing to the line:"logger.info("tdmapper1 is running ......" + tdmapper.toS

[2019-06-15 12:46] kazuki43zoo commented on #353
Could you provide small reproduce project via GitHub(or attached file)?

[2019-06-15 13:07] omobh commented on #353
Thank you!
I just upload the project and this is the address:
https://github.com/omobh/autoTransactionSample.git
and this is the error log
at.log

[2019-06-15 13:47] kazuki43zoo commented on #353
[code]

In this case, you should be inject the `QuotationAccepter` using constructor injection as follow:

[code]

[2019-06-15 13:49] kazuki43zoo commented on #353
I've closed this issue because this issue does not related the `mybatis` and `mybatis-spring-boot`.

[2019-06-15 13:49] #353 closed

[2019-06-15 14:03] omobh commented on #353
It works! Thank you very much!!
But I just don't know why that code cause the problem......

[2019-06-15 14:25] kazuki43zoo commented on #353
If you create a new instance(`new QuotationAccepter()`) in your application code(= not use the Java Config), it cannot manage the Spring DI container. Therefore a mapper instance does not inject to the `QuotationAccepter`. This problem can fix to use the instance that scanned by component-scan feature provided by Spring DI container.

There is possible that you don't understand about Spring's DI c

[2019-06-15 14:35] omobh commented on #353
Got it!
You are right . Im new to spring...
Thanks again and good luck.

[2019-06-19 16:01] kazuki43zoo commented on #350
Closed because this issue fixed via spring-boot 2.2.0.M4.

@thpy Please try again using spring-boot 2.2.0.M4 If you have a time.

[2019-06-19 16:01] #350 closed

[2019-06-19 16:09] kazuki43zoo opened #354 "Upgrade to spring-boot 2.1.6"

[2019-06-19 23:30] #354 closed

[2019-06-20 00:16] kazuki43zoo commented on #351
Revert because mybatis-spring-boot-sample-groovy is build error as follow:

[code]

I've tried using gmavenplus-plugin 1.7.1(latest version), but it cannot fix.

[2019-06-20 01:26] kazuki43zoo commented on #351
Probably, this cause is that the Groovy does not support with JDK 14 yet.

[2019-06-20 02:33] kazuki43zoo opened #355 "Add sample for web env"
I will add following samples.

* Using embedded Tomcat
* Using Tomcat with war

[2019-06-20 02:35] kazuki43zoo commented on #351
https://issues.apache.org/jira/projects/GROOVY/issues/GROOVY-9177

[2019-06-26 14:38] kazuki43zoo opened #356 "replace to openjdk11 on TravisCI"

[2019-06-29 04:14] #356 closed

[2019-07-01 17:12] kazuki43zoo opened #357 "Drop oraclejdk11 on Travis CI"

[2019-07-01 17:23] #357 closed

[2019-07-02 02:44] TranNgocKhoa opened #358 "Mybatis Spring Boot Starter 2.0.1 doesn't support custom DataSource configuration"
Hello, I'm implementing custom DataSource with master-slave database.

I use mybatis and spring boot in my project. But it doesn't work with error `Caused by: java.lang.IllegalArgumentException: Property 'sqlSessionFactory' or 'sqlSessionTemplate' are required`.
**What I've tried:** Downgrade `mybatis-spring-boot-starter` from `2.0.1` to `1.3.2` and it works.
**Code demo:** https://github.com/Tran

[2019-07-03 05:33] kazuki43zoo commented on #358
@TranNgocKhoa Thanks for your reporting!

This behavior is specification since mybatis-spring-boot 2.0.0 (For details, see #208).
If you define multiple datasource in DI container and use auto-configuration of mybatis-spring-boot , you should be indicate a  primary bean using `@Primary` as follow:

[code]

If you can resolve this issue by apply the above solution, please close this issue.

Thanks.

[2019-07-03 08:59] TranNgocKhoa commented on #358
Thank you so much! I added the annotation and it works.

[2019-07-03 09:04] #358 closed

[2019-07-03 13:13] kazuki43zoo opened #359 "Upgrade to mybatis 3.5.2"
https://github.com/mybatis/mybatis-3/milestone/22

[2019-07-06 06:27] ChiDNMSE60717 commented on #278
Thank @chris-peng-1244

[2019-07-09 03:32] eheads commented on #350
![image](https://user-images.githubusercontent.com/12793639/60857300-9b5fe000-a23c-11e9-997f-dcd0b1fcba2c.png)

seems not working on yaml file.

[2019-07-09 08:06] eheads commented on #350
I tried

I tried 2.2.0M4 but seems like issue is still there:

![image](https://user-images.githubusercontent.com/12793639/60870443-76329800-a263-11e9-870f-6741d417db06.png)

[2019-07-09 13:33] kazuki43zoo commented on #350
`spring.jndi.ignore` cannot specify `application.properties` or `application.yml`. It need to specify the `spring.properties` just under classpath. See https://github.com/mybatis/spring-boot-starter/issues/350#issuecomment-500480499.

[2019-07-09 13:36] kazuki43zoo commented on #350
It is not possible to judge the same problem only by the information of the screenshot.
Could you provide small reproduce project?

[2019-07-13 12:14] kazuki43zoo opened #360 "Consider to change document format to markdown from xdoc"
I will consider to change document format because maven-site-plugin supports markdown format. The markdown format can render on GitHub.

[2019-07-13 22:19] LouisWayne opened #361 "How do I close connection manually?"
Hello team,

I am a big fan of MyBatis.  Recently, I am getting an error `Cause: org.springframework.jdbc.CannotGetJdbcConnectionException: Failed to obtain JDBC Connection; nested exception is com.mysql.cj.jdbc.exceptions.CommunicationsException: The driver was unable to create a connection due to an inability to establish the client portion of a socket.`, but I am not really sure the cause of th